body,table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
}

.iceInpTxtArea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000000;
	padding: 2px;
}

.iceOutTxt {
	font-family: Arial, Helvetica, sans-serif;
	color: inherit;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.iceOutLbl {
	font-family: inherit;
	padding: inherit;
	color: inherit;
}

.iceDatTbl {
	background-color: #FFFFFF;
	border: 1px solid #1e6b83;
	border-collapse: collapse;
	margin: 10px 0 10px 0;
}

.iceDatTblColHdr,.iceDatTblColHdr1,.iceDatTblColHdr2,.iceDatTblColGrpHdrCol,.iceDatTblFtr
	{
	background-image: none;
	background-color: #267d99;
	background-position: bottom;
	background-repeat: repeat-x;
	font-weight: normal;
	text-align: center;
	border: 1px solid #A8C6D0;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.iceDatTblActvSrtHdr a.iceCmdSrtHdr span.iceOutTxt table {
	color: #fff;
}

.icePnlPopHdr,.icePnlTlTipHdr {
	background-image: none;
	background-color: #035069;
	font-family: Georgia, "Times New Roman", serif;
	height: 2.0em;
	vertical-align: middle;
}

.iceCmdSrtHdr {
	text-decoration: none;
	border: none;
	width: 100%;
	height: 100%;
	padding: 0px;
	display: block;
	color: #fff;
}

.iceCmdSrtHdrAsc,.iceCmdSrtHdrDesc {
	background-repeat: no-repeat;
	background-position: center;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}

.iceDatTblCol {
	border: 1px solid #A8C6D0;
	/* 	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc; */
}

.yui-panel {
	background-color: #D5D5D5;
	border: 1px solid #267d99;
	margin-top: 2px;
	margin-left: 1px;
	width: 170px;
}

.yui-panel .bd table {
	margin: 5px;
	width: 160px;
}

.yui-panel .bd table .calhead {
	background-color: #267d99;
	color: #fff;
}

.yui-panel .bd table .calweekdayrow {
	background-color: #A8C6D0;
	color: #000;
}

.yui-panel .bd table .calbody .selected {
	background-color: #fff;
}

.yui-panel .ft {
	width: 160px;
	text-align: center;
	margin: 5px;
}

.yui-panel .ft .yui-push-button {
	margin: 0 5px 0 5px;
	border: 1px solid #267d99;
	background-color: #A8C6D0;
	color: #fff;
}

.yui-panel .ft .yui-push-button-hover {
	background-color: #fff;
}

.iceOutConStat {
	position: absolute;
	right: 50px;
	margin: 0px;
	border: none;
	font-size: 0px;
	height: 45px;
	width: 45px;
}

.iceOutConStatInactv {
	position: absolute;
	background-image: url("../images/preloaderNormalTop.gif");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
}

.iceOutConStatActv {
	position: absolute;
	background-image: url("../images/preloaderActiveTop.gif");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
}

.iceOutConStatCaution {
	position: absolute;
	background-image: url("../images/preloaderCautionTop.gif");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
}

.iceOutConStatDisconnect {
	position: absolute;
	background-image: url("../images/preloaderDisconnectTop.gif");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
}