body,table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
}

.iceOutTxt {
	font-family: Arial, Helvetica, sans-serif;
	color: inherit;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.iceOutLbl {
	font-family: inherit;
	padding: inherit;
	color: inherit;
}

.iceDatTbl {
	background-color: #FFFFFF;
	border: 1px solid #aaaaaa;
	margin: 10px;
}

.iceDatTblColHdr,.iceDatTblColHdr1,.iceDatTblColHdr2,.iceDatTblColGrpHdrCol,.iceDatTblFtr
	{
	background-image: none;
	background-color: #546048;
	background-position: bottom;
	background-repeat: repeat-x;
	font-weight: normal;
	text-align: center;
	color: #fff;
	border-right: 1px solid #aaa;
	border-top: 1px solid #aaa;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.iceDatTblActvSrtHdr a.iceCmdSrtHdr span.iceOutTxt table {
	color: #fff;
}

.icePnlPopHdr,.icePnlTlTipHdr {
	background-image: none;
	background-color: #404535;
	font-family: Georgia, "Times New Roman", serif;
	height: 2.0em;
	vertical-align: middle;
}

.iceCmdSrtHdr {
	text-decoration: none;
	border: none;
	width: 100%;
	height: 100%;
	padding: 0px;
	display: block;
	color: #fff;
}

.iceCmdSrtHdrAsc,.iceCmdSrtHdrDesc {
	background-repeat: no-repeat;
	background-position: center;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}