/*
 * Author: lazyman
 */
a {
	text-decoration: none;
}

body {
	background-image: url("../images/bgRepeat.jpg");
	background-repeat: repeat-x;
	background-color: white;
}

#header {
	width: 100%;
}

#logo img {
	border: 0px;
	height: 70px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#logo h1 {
	color: #2E3324;
	font: 36px Georgia, "Times New Roman", serif;
	font-weight: bold;
	vertical-align: top;
	display: inline-block;
	margin-left: 20px;
	text-shadow: -1px -1px #000, 1px 1px #546048;
}

.flag {
	border: 0px;
	margin: 0 3px;
}

#nav {
	z-index: 11;
	min-width: 1270px;
	position: absolute;
	width: 100%;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

.container-auto {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#top-nav {
	height: 51px;
	list-style: none outside none;
	padding: 0;
	width: auto;
}

#top-nav li {
	display: block;
	position: static;
	text-align: center;
	float: left;
	height: 51px;
	width: auto;
}

#top-nav li a {
	text-align: center;
	display: inline-block;
	font: 17px Arial, Helvetica, sans-serif;
	height: 41px;
	padding: 6px 20px 0 20px;
	text-decoration: none;
	width: auto;
	color: white;
}

#top-nav a.last {
	border-right: none;
}

#top-nav a span {
	display: block;
	color: #a2daed;
	font: 12px Arial, Helvetica, sans-serif;
}

#top-nav a:hover span {
	color: #a2daed !important;
}

.selected-top span {
	color: #60a8bf !important;
}

#top-nav a {
	border-right: 1px solid #1c5e74;
	background: url("../images/buttonNormalCenterCut.jpg");
	background-repeat: repeat-x;
	color: #cbf1fe;
	text-decoration: none;
}

#top-nav a:hover {
	background: url("../images/buttonOverCenterCut.jpg") repeat-x scroll
		left top transparent;
	color: #cbf1fe;
	text-decoration: none;
}

#top-nav .selected-top {
	background: url("../images/buttonDownCenterCut.jpg") repeat-x scroll
		left top transparent;
	color: #0e4e63;
	text-decoration: none;
}

/* #breadcrumbs {
	background: none repeat scroll 0 0 #546048;
	width: 100%;
	font: 13px Georgia, "Times New Roman", serif;
	font-weight: bold; color : #fff;
	padding: 5px 0;
	color: #fff;
}

#breadcrumbs div.container span.arrow {
	color: #2E3324;
} */
#footer {
	margin-top: 25px;
	background-image: url(../images/footerBgRepeat.jpg);
	background-repeat: repeat-x;
	height: 44px;
	padding-top: 13px;
	width: 100%;
}

#credit {
	color: #a2dbef;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 20px;
	padding: 0;
	text-align: center;
	text-indent: 0px;
	margin-bottom: 0px;
}

#login-box {
	float: right;
	padding-right: 2%;
	padding-top: 7px;
}

#login-box span {
	font: 12px Arial, Helvetica, sans-serif;
	color: #82b3c4;
	/* color: #7E8275; */
}

#login-box span.delimiter {
	color: #014258;
	padding-right: 3px;
	padding-left: 3px;
}

#login-box span em {
	font: 18px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#contentBody {
	border: 1px solid #1e6b83;
	display: inline-block;
	width: 100%;
	height: 100%;
	margin-top: 46px;
	background-color: white;
}

#content {
	text-align: left;
	z-index: 10;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	float: left;
	width: 81.7%;
	border-left: 1px solid #1e6b83;
}

#wrapper {
	width: 98%;
	padding: 10px 0px;
	min-height: 585px;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

.clear-menu {
	margin-bottom: 15px;
}

#sidebar {
	z-index: 10;
	margin-left: 20px;
	padding: 10px 0px;
	width: 15%;
	height: auto;
	overflow: hidden;
	float: left;
	padding: 10px 0px;
	margin-top: 20px;
	margin-left: 16px;
}

#sidebar h3 {
	color: #363930;
	font: 17px Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	padding: 0 5px 5px 20px;
	width: 89%;
	background: url("../images/control_play.png") no-repeat 0 15%;
}

#sidebar ul {
	border-top: 1px solid #1e6b83;
	width: 93%;
	padding-bottom: 20px;
}

#sidebar ul li {
	background: url("../images/images.png") no-repeat 10px 50%;
	padding: 3px 0 3px 25px;
}

#sidebar ul li a {
	color: #2E3324;
	font: 14px Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}

#sidebar ul li:hover {
	background-color: #a7c6d0;
	/* background: url("../images/images-selected.png") no-repeat 0 50%; */
}

#sidebar ul li a:hover {
	color: white;
}

#sidebar ul li a.selected {
	color: #0f7798;
}

#sidebar ul li a.selected {
	font-weight: bold;
}

#messages {
	margin-bottom: 15px;
}

#messages li span.messages-info,#messages li span.messages-warn,#messages li span.messages-error
	{
	font: 13px Georgia, "Times New Roman", serif;
	display: block;
	border: 1px solid;
	margin: 5px 0px;
	padding: 7px 5px 7px 40px;
	background-repeat: no-repeat;
	background-position: 10px center;
	border: 1px solid;
}

/* #messages li span.messages-info ul,#messages li span.messages-warn ul,#messages li span.messages-error ul
	{
	list-style: disc;
	margin-left: 30px;
} */
#messages li span.messages-info {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../images/accept.png');
}

#messages li span.messages-warn {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/error.png');
}

#messages li span.messages-error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/exclamation.png');
}

#messages li span span.messages-display-details {
	float: right;
	cursor: pointer;
}

.messages-details-error_button {
	font-style: italic;
	color: black;
	cursor: Pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.messages-details-error {
	overflow: auto;
}

.messages-details-cause_button {
	font-style: italic;
	color: black;
	cursor: Pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.messages-details-cause {
	overflow: auto;
}

#messages li span div.messages-details {
	margin-top: 3px;
	display: none;
}

span.message-detail,span.message-detail-bold {
	margin: 0 10px 0 0;
}

span.message-detail-bold {
	font-weight: bold;
}

#messages li span div.messages-details ul.messages-details-advanced {
	margin-top: 4px;
}

li.messages-line-info,li.messages-line-warn,li.messages-line-error {
	height: auto;
	padding-left: 20px;
	min-height: 20px;
}

li.messages-line-info {
	background: url('../images/accept.png') no-repeat 0px 0px;
	color: #4F8A10;
}

li.messages-line-warn {
	background: url('../images/error.png') no-repeat 0px 0px;
	color: #9F6000;
}

li.messages-line-error {
	background: url('../images/exclamation.png') no-repeat 0px 0px;
	color: #D8000C;
}

.error {
	color: #D8000C;
}

h2 {
	font: 22px Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 10px;
	text-transform: capitalize;
}

h3 {
	font: 17px Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
	text-transform: capitalize;
}

h4 {
	font: 15px Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: capitalize;
}

body {
	font: 13px Arial, Helvetica, sans-serif;
}

p {
	text-indent: 30px;
	text-align: justify;
	margin-bottom: 10px;
}

#about {
	margin-bottom: 30px;
}

#about ul {
	list-style: disc;
	margin-left: 30px;
}

#loginButtons input.submit {
	margin: 0px;
	background-color: #d5d5d5;
	background: url("../images/key.png") no-repeat 10px 50%;
	border: 1px solid #cdcdcd;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 100%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 5px 30px;
}

#loginButtons input.submit:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}

.buttons {
	display: inline-block;
	padding: 4px 0;
}

.buttons a,.buttons button,.buttons input.button { /* display: block;
	float: left; */
	margin: 0 7px 0 0;
	background-color: #d5d5d5;
	border: 1px solid #cdcdcd;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 4px 7px; /* 5px 10px 6px 7px */
}

.buttons button,.buttons input.button {
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px; /* IE6 */
}

.buttons button[type],.buttons input.button {
	padding: 5px 10px 5px 7px; /* Firefox */
	line-height: 17px; /* Safari */
}

*:first-child+html button[type],.buttons input.button {
	padding: 4px 10px 3px 7px; /* IE7 */
}

.buttons button img,.buttons a img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

/* DISABLED */
button:hover,.buttons a.disabled:hover {
	cursor: default;
}

.buttons a.disabled:active {
	cursor: default;
}

/* POSITIVE */
button.positive,.buttons a.positive,.buttons input.positive {
	color: #529214;
}

.buttons a.positive:hover,button.positive:hover,.buttons input.positive:hover
	{
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

.buttons a.positive:active,.buttons input:active {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

/* NEGATIVE */
.buttons a.negative,button.negative,.buttons input.negative {
	color: #d12f19;
}

.buttons a.negative:hover,button.negative:hover,.buttons input.negative:hover
	{
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

.buttons a.negative:active,.buttons input.negative:active {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

/* REGULAR */
.buttons a.regular,button.regular,.buttons input.regular {
	color: #336699;
}

.buttons a.regular:hover,button.regular:hover,.buttons input.regular:hover
	{
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}

.buttons a.regular:active,.buttons input.regular:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

/* hack for file upload start */
.buttons input.fileUpload {
	background: url("../images/add.png") no-repeat scroll 6px 4px #D5D5D5;
	background-color: #d5d5d5;
	padding: 4px 10px 4px 24px;
}

/* hack for file upload end */
.button-bar {
	padding-top: 20px;
}

.required-field {
	color: #ff3300;
	font-weight: bold;
}

.expression-field {
	color: #004CFF;
	font-weight: bold;
}

.userDetailsResourceTableRow1 {
	
}

.userDetailsResourceTableRow2 {
	width: 150px;
	padding-left: 10px;
	vertical-align: top;
}

input[disabled],input[readonly],select[disabled],select[readonly],checkbox[disabled],checkbox[readonly],textarea[disabled],textarea[readonly]
	{
	background-color: #ccc;
}

#navBar {
	position: absolute;
	width: auto;
}

#topHomeButtonLeft {
	background-image:
		url('/admin-gui/resources/images/buttonNormalLeftCut1.jpg');
	position: absolute;
	height: 47px;
	width: 30px;
	left: 0px;
	top: 0px;
}

#topConfigurationButtonRight {
	background-image:
		url('/admin-gui/resources/images/buttonNormalRightCut1.jpg');
	position: absolute;
	height: 47px;
	width: 30px;
	margin-right: -30px;
	right: 0px;
	top: 0px;
}

#sidebarImage {
	position: inherit;
	float: right;
	margin-right: 20px;
	background-image: url('/admin-gui/resources/images/verticalLogo.jpg');
	width: 130px;
	height: 583px;
}

.loginDiv {
	position: inherit;
	width: auto;
	text-align: center;
	background-color: #E7EFF1;
	padding: 20px 0 20px 0;
	height: 140px;
}