.userDetailsResourceTableRow1 {
	
}

.userDetailsResourceTableRow2 {
	width: 150px;
	padding-left: 10px;
	vertical-align: top;
}

label em {
	color: #f00;
}

.heading {
	font-weight: bold;
	font-size: 12px;
}

.importStatus {
	margin-left: 15px;
}

.commandLinkDebugPage {
	text-decoration: underline;
	color: blue;
	text-align: left;
}

.searchOidPosition {
	float: right;
}

.pagingPosition {
	float: right
}

.buttonsPosition {
	width: 100%;
	float: right;
	margin-right: 5px;
}