<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2010-2021 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<configuration>

    <if condition='"true".equals(property("midpoint.logging.alt.enabled"))'>
        <then>
            <include resource="logback-alt.xml"/>
        </then>
    </if>

    <appender name="MIDPOINT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- See http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
        <!-- and http://logback.qos.ch/manual/appenders.html#SizeAndTimeBasedRollingPolicy -->
        <!-- for further documentation -->
        <Append>true</Append>
        <File>${midpoint.home}/log/midpoint.log</File>
        <encoder>
            <pattern>%date [%X{subsystem}] [%thread] %level \(%logger\): %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${midpoint.home}/log/midpoint-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1GB</maxFileSize> <!-- hopefully overridden by the system configuration -->
        </rollingPolicy>
    </appender>

    <!-- Appender for profiling purposes -->
    <appender name="MIDPOINT_PROFILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- See http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
        <!-- and http://logback.qos.ch/manual/appenders.html#SizeAndTimeBasedRollingPolicy -->
        <!-- for further documentation -->
        <Append>true</Append>
        <File>${midpoint.home}/log/midpoint-profile.log</File>
        <encoder>
            <pattern>%date %level: %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${midpoint.home}/log/midpoint-profile-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1GB</maxFileSize> <!-- hopefully overridden by the system configuration -->
        </rollingPolicy>
    </appender>
    <!-- Appender for profiling purposes -->

    <logger name="org.springframework.boot.SpringApplication" level="INFO"/>

    <logger name="org.springframework.security.web.DefaultSecurityFilterChain" level="OFF"/>
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="OFF"/>
    <logger name="org.hibernate.engine.jdbc.batch.internal.BatchingBatch" level="OFF"/>
    <logger name="org.hibernate.engine.jdbc.batch.internal.AbstractBatchImpl" level="WARN"/>

    <!-- MID-6512:
        JAXPParser only logs configuration exception it is causing. It proactively tries to
        disable secure entity processing, but works fine even if exception is thrown.
        Behaviour is hardcoded, and can not be prevented, so we mute it off in logs to not cause
        unnecessary concern.
    -->
    <logger name="com.sun.xml.xsom.parser.JAXPParser" level="OFF"/>

    <logger name="PROFILING" level="INFO"/>
    <logger name="com.evolveum.midpoint" level="INFO"/>
    <logger name="com.evolveum.midpoint.web.util.MidPointProfilingServletFilter" level="TRACE">
        <appender-ref ref="MIDPOINT_PROFILE_LOG"/>
    </logger>

    <if condition='"true".equals(property("midpoint.logging.alt.enabled"))'>
        <then>
            <root level="WARN">
                <appender-ref ref="MIDPOINT_LOG"/>
                <appender-ref ref="ALT_LOG"/>
            </root>
        </then>
        <else>
            <root level="WARN">
                <appender-ref ref="MIDPOINT_LOG"/>
            </root>
        </else>
    </if>
</configuration>
