@charset "UTF-8";

@font-face {
  font-family: 'font-midpoint';
  src:  url('../fonts/font-midpoint.eot?ec0kj0');
  src:  url('../fonts/font-midpoint.eot?ec0kj0#iefix') format('embedded-opentype'),
  url('../fonts/font-midpoint.ttf?ec0kj0') format('truetype'),
  url('../fonts/font-midpoint.woff?ec0kj0') format('woff'),
  url('../fonts/font-midpoint.svg?ec0kj0#font-midpoint') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fm {
  display: inline-block;
  font: normal normal normal 14px/1 font-midpoint;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fm-assignment:before {
  content: "\e900";
}
.fm-midpoint-shorter-lines:before {
  content: "\e901";
}
.fm-midpoint-wheel:before {
  content: "\e902";
}
.fm-midpoint-with-lines:before {
  content: "\e903";
}
.fm-role-hat:before {
  content: "\e904";
}
.fm-role-tie:before {
  content: "\e905";
}
.fm-role-top-hat:before {
  content: "\e906";
}
