[class^="silk-"], [class*=" silk-"] {
  background-image: url('../img/silk.png');
  background-position: 0 0;
  height: 16px;
  width: 16px;
  margin-top: 0px;
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: 16px;
  display: inline-block;
}
/*
.silk-anchor {background-position: -32px -0px;}
.silk-application {background-position: -48px -0px;}
.silk-application_add {background-position: -64px -0px;}
.silk-application_cascade {background-position: -80px -0px;}
.silk-application_delete {background-position: -96px -0px;}
.silk-application_double {background-position: -112px -0px;}
.silk-application_edit {background-position: -128px -0px;}
.silk-application_error {background-position: -144px -0px;}
.silk-application_form {background-position: -160px -0px;}
.silk-application_form_add {background-position: -176px -0px;}
.silk-application_form_delete {background-position: -192px -0px;}
.silk-application_form_edit {background-position: -208px -0px;}
.silk-application_form_magnify {background-position: -224px -0px;}
.silk-application_get {background-position: -240px -0px;}
.silk-application_go {background-position: -256px -0px;}
.silk-application_home {background-position: -272px -0px;}
.silk-application_key {background-position: -288px -0px;}
.silk-application_lightning {background-position: -304px -0px;}
.silk-application_link {background-position: -320px -0px;}
.silk-application_osx {background-position: -336px -0px;}
.silk-application_put {background-position: -368px -0px;}
.silk-application_side_boxes {background-position: -384px -0px;}
.silk-application_side_contract {background-position: -400px -0px;}
.silk-application_side_expand {background-position: -416px -0px;}
.silk-application_side_list {background-position: -432px -0px;}
.silk-application_side_tree {background-position: -448px -0px;}
.silk-application_split {background-position: -464px -0px;}
.silk-application_tile_horizontal {background-position: -480px -0px;}
.silk-application_tile_vertical {background-position: -496px -0px;}
.silk-application_view_columns {background-position: -0px -16px;}
.silk-application_view_detail {background-position: -16px -16px;}
.silk-application_view_gallery {background-position: -32px -16px;}
.silk-application_view_icons {background-position: -48px -16px;}
.silk-application_view_list {background-position: -64px -16px;}
.silk-application_view_tile {background-position: -80px -16px;}
.silk-application_xp {background-position: -96px -16px;}
.silk-application_xp_terminal {background-position: -112px -16px;}
.silk-arrow_branch {background-position: -128px -16px;}
.silk-arrow_divide {background-position: -144px -16px;}
.silk-arrow_down {background-position: -160px -16px;}
.silk-arrow_in {background-position: -176px -16px;}
.silk-arrow_inout {background-position: -192px -16px;}
.silk-arrow_join {background-position: -208px -16px;}
.silk-arrow_left {background-position: -224px -16px;}
.silk-arrow_merge {background-position: -240px -16px;}
.silk-arrow_out {background-position: -256px -16px;}
.silk-arrow_redo {background-position: -272px -16px;}
.silk-arrow_refresh_small {background-position: -304px -16px;}
.silk-arrow_right {background-position: -320px -16px;}
.silk-arrow_rotate_anticlockwise {background-position: -336px -16px;}
.silk-arrow_rotate_clockwise {background-position: -352px -16px;}
.silk-arrow_switch {background-position: -368px -16px;}
.silk-arrow_turn_left {background-position: -384px -16px;}
.silk-arrow_turn_right {background-position: -400px -16px;}
.silk-arrow_undo {background-position: -416px -16px;}
.silk-arrow_up {background-position: -432px -16px;}
.silk-asterisk_orange {background-position: -448px -16px;}
.silk-asterisk_yellow {background-position: -464px -16px;}
.silk-attach {background-position: -480px -16px;}
.silk-award_star_add {background-position: -496px -16px;}
.silk-award_star_bronze_1 {background-position: -0px -32px;}
.silk-award_star_bronze_2 {background-position: -16px -32px;}
.silk-award_star_bronze_3 {background-position: -32px -32px;}
.silk-award_star_delete {background-position: -48px -32px;}
.silk-award_star_gold_1 {background-position: -64px -32px;}
.silk-award_star_gold_2 {background-position: -80px -32px;}
.silk-award_star_gold_3 {background-position: -96px -32px;}
.silk-award_star_silver_1 {background-position: -112px -32px;}
.silk-award_star_silver_2 {background-position: -128px -32px;}
.silk-award_star_silver_3 {background-position: -144px -32px;}
.silk-basket {background-position: -160px -32px;}
.silk-basket_add {background-position: -176px -32px;}
.silk-basket_delete {background-position: -192px -32px;}
.silk-basket_edit {background-position: -208px -32px;}
.silk-basket_error {background-position: -224px -32px;}
.silk-basket_go {background-position: -240px -32px;}
.silk-basket_put {background-position: -256px -32px;}
.silk-basket_remove {background-position: -272px -32px;}
.silk-bell {background-position: -288px -32px;}
.silk-bell_add {background-position: -304px -32px;}
.silk-bell_delete {background-position: -320px -32px;}
.silk-bell_error {background-position: -336px -32px;}
.silk-bell_go {background-position: -352px -32px;}
.silk-bell_link {background-position: -368px -32px;}
.silk-bin {background-position: -384px -32px;}
.silk-bin_closed {background-position: -400px -32px;}
.silk-bin_empty {background-position: -416px -32px;}
.silk-bomb {background-position: -432px -32px;}
.silk-book {background-position: -448px -32px;}
.silk-book_add {background-position: -464px -32px;}
.silk-book_addresses {background-position: -480px -32px;}
.silk-book_delete {background-position: -496px -32px;}
.silk-book_edit {background-position: -0px -48px;}
.silk-book_error {background-position: -16px -48px;}
.silk-book_go {background-position: -32px -48px;}
.silk-book_key {background-position: -48px -48px;}
.silk-book_link {background-position: -64px -48px;}
.silk-book_next {background-position: -80px -48px;}
.silk-book_open {background-position: -96px -48px;}
.silk-book_previous {background-position: -112px -48px;}
.silk-box {background-position: -128px -48px;}
.silk-brick {background-position: -144px -48px;}
.silk-brick_add {background-position: -160px -48px;}
.silk-brick_delete {background-position: -176px -48px;}
.silk-brick_edit {background-position: -192px -48px;}
.silk-brick_error {background-position: -208px -48px;}
.silk-brick_go {background-position: -224px -48px;}
.silk-brick_link {background-position: -240px -48px;}
.silk-bricks {background-position: -256px -48px;}
.silk-briefcase {background-position: -272px -48px;}
.silk-bug {background-position: -288px -48px;}
.silk-bug_add {background-position: -304px -48px;}
.silk-bug_delete {background-position: -320px -48px;}
.silk-bug_edit {background-position: -336px -48px;}
.silk-bug_error {background-position: -352px -48px;}
.silk-bug_go {background-position: -368px -48px;}
.silk-bug_link {background-position: -384px -48px;}
.silk-building_add {background-position: -416px -48px;}
.silk-building_delete {background-position: -432px -48px;}
.silk-building_edit {background-position: -448px -48px;}
.silk-building_error {background-position: -464px -48px;}
.silk-building_go {background-position: -480px -48px;}
.silk-building_key {background-position: -496px -48px;}
.silk-building_link {background-position: -0px -64px;}
.silk-bullet_add {background-position: -16px -64px;}
.silk-bullet_arrow_bottom {background-position: -32px -64px;}
.silk-bullet_arrow_down {background-position: -48px -64px;}
.silk-bullet_arrow_top {background-position: -64px -64px;}
.silk-bullet_arrow_up {background-position: -80px -64px;}
.silk-bullet_black {background-position: -96px -64px;}
.silk-bullet_blue {background-position: -112px -64px;}
.silk-bullet_delete {background-position: -128px -64px;}
.silk-bullet_disk {background-position: -144px -64px;}
.silk-bullet_error {background-position: -160px -64px;}
.silk-bullet_feed {background-position: -176px -64px;}
.silk-bullet_go {background-position: -192px -64px;}
.silk-bullet_green {background-position: -208px -64px;}
.silk-bullet_key {background-position: -224px -64px;}
.silk-bullet_orange {background-position: -240px -64px;}
.silk-bullet_picture {background-position: -256px -64px;}
.silk-bullet_pink {background-position: -272px -64px;}
.silk-bullet_purple {background-position: -288px -64px;}
.silk-bullet_red {background-position: -304px -64px;}
.silk-bullet_star {background-position: -320px -64px;}
.silk-bullet_toggle_minus {background-position: -336px -64px;}
.silk-bullet_toggle_plus {background-position: -352px -64px;}
.silk-bullet_white {background-position: -368px -64px;}
.silk-bullet_wrench {background-position: -384px -64px;}
.silk-bullet_yellow {background-position: -400px -64px;}
.silk-cake {background-position: -416px -64px;}
.silk-calculator {background-position: -432px -64px;}
.silk-calculator_add {background-position: -448px -64px;}
.silk-calculator_delete {background-position: -464px -64px;}
.silk-calculator_edit {background-position: -480px -64px;}
.silk-calculator_error {background-position: -496px -64px;}
.silk-calculator_link {background-position: -0px -80px;}
.silk-calendar {background-position: -16px -80px;}
.silk-calendar_add {background-position: -32px -80px;}
.silk-calendar_delete {background-position: -48px -80px;}
.silk-calendar_edit {background-position: -64px -80px;}
.silk-calendar_link {background-position: -80px -80px;}
.silk-calendar_view_day {background-position: -96px -80px;}
.silk-calendar_view_month {background-position: -112px -80px;}
.silk-calendar_view_week {background-position: -128px -80px;}
.silk-camera {background-position: -144px -80px;}
.silk-camera_add {background-position: -160px -80px;}
.silk-camera_delete {background-position: -176px -80px;}
.silk-camera_edit {background-position: -192px -80px;}
.silk-camera_error {background-position: -208px -80px;}
.silk-camera_go {background-position: -224px -80px;}
.silk-camera_link {background-position: -240px -80px;}
.silk-camera_small {background-position: -256px -80px;}
.silk-cancel {background-position: -272px -80px;}
.silk-car {background-position: -288px -80px;}
.silk-car_add {background-position: -304px -80px;}
.silk-car_delete {background-position: -320px -80px;}
.silk-cart {background-position: -336px -80px;}
.silk-cart_add {background-position: -352px -80px;}
.silk-cart_delete {background-position: -368px -80px;}
.silk-cart_edit {background-position: -384px -80px;}
.silk-cart_error {background-position: -400px -80px;}
.silk-cart_go {background-position: -416px -80px;}
.silk-cart_put {background-position: -432px -80px;}
.silk-cart_remove {background-position: -448px -80px;}
.silk-cd {background-position: -464px -80px;}
.silk-cd_add {background-position: -480px -80px;}
.silk-cd_burn {background-position: -496px -80px;}
.silk-cd_delete {background-position: -0px -96px;}
.silk-cd_edit {background-position: -16px -96px;}
.silk-cd_eject {background-position: -32px -96px;}
.silk-cd_go {background-position: -48px -96px;}
.silk-chart_bar {background-position: -64px -96px;}
.silk-chart_bar_add {background-position: -80px -96px;}
.silk-chart_bar_delete {background-position: -96px -96px;}
.silk-chart_bar_edit {background-position: -112px -96px;}
.silk-chart_bar_error {background-position: -128px -96px;}
.silk-chart_bar_link {background-position: -144px -96px;}
.silk-chart_curve {background-position: -160px -96px;}
.silk-chart_curve_add {background-position: -176px -96px;}
.silk-chart_curve_delete {background-position: -192px -96px;}
.silk-chart_curve_edit {background-position: -208px -96px;}
.silk-chart_curve_error {background-position: -224px -96px;}
.silk-chart_curve_go {background-position: -240px -96px;}
.silk-chart_curve_link {background-position: -256px -96px;}
.silk-chart_line {background-position: -272px -96px;}
.silk-chart_line_add {background-position: -288px -96px;}
.silk-chart_line_delete {background-position: -304px -96px;}
.silk-chart_line_edit {background-position: -320px -96px;}
.silk-chart_line_error {background-position: -336px -96px;}
.silk-chart_line_link {background-position: -352px -96px;}
.silk-chart_organisation {background-position: -368px -96px;}
.silk-chart_organisation_add {background-position: -384px -96px;}
.silk-chart_organisation_delete {background-position: -400px -96px;}
.silk-chart_pie {background-position: -416px -96px;}
.silk-chart_pie_add {background-position: -432px -96px;}
.silk-chart_pie_delete {background-position: -448px -96px;}
.silk-chart_pie_edit {background-position: -464px -96px;}
.silk-chart_pie_error {background-position: -480px -96px;}
.silk-chart_pie_link {background-position: -496px -96px;}
.silk-clock {background-position: -0px -112px;}
.silk-clock_add {background-position: -16px -112px;}
.silk-clock_delete {background-position: -32px -112px;}
.silk-clock_edit {background-position: -48px -112px;}
.silk-clock_error {background-position: -64px -112px;}
.silk-clock_go {background-position: -80px -112px;}
.silk-clock_link {background-position: -96px -112px;}
.silk-clock_pause {background-position: -112px -112px;}
.silk-clock_play {background-position: -128px -112px;}
.silk-clock_red {background-position: -144px -112px;}
.silk-clock_stop {background-position: -160px -112px;}
.silk-cog_add {background-position: -192px -112px;}
.silk-cog_delete {background-position: -208px -112px;}
.silk-cog_edit {background-position: -224px -112px;}
.silk-cog_error {background-position: -240px -112px;}
.silk-cog_go {background-position: -256px -112px;}
.silk-coins {background-position: -272px -112px;}
.silk-coins_add {background-position: -288px -112px;}
.silk-coins_delete {background-position: -304px -112px;}
.silk-color_swatch {background-position: -320px -112px;}
.silk-color_wheel {background-position: -336px -112px;}
.silk-comment {background-position: -352px -112px;}
.silk-comment_add {background-position: -368px -112px;}
.silk-comment_delete {background-position: -384px -112px;}
.silk-comment_edit {background-position: -400px -112px;}
.silk-comments {background-position: -416px -112px;}
.silk-comments_add {background-position: -432px -112px;}
.silk-comments_delete {background-position: -448px -112px;}
.silk-compress {background-position: -464px -112px;}
.silk-computer {background-position: -480px -112px;}
.silk-computer_add {background-position: -496px -112px;}
.silk-computer_delete {background-position: -0px -128px;}
.silk-computer_edit {background-position: -16px -128px;}
.silk-computer_error {background-position: -32px -128px;}
.silk-computer_go {background-position: -48px -128px;}
.silk-computer_key {background-position: -64px -128px;}
.silk-computer_link {background-position: -80px -128px;}
.silk-connect {background-position: -96px -128px;}
.silk-contrast {background-position: -112px -128px;}
.silk-contrast_decrease {background-position: -128px -128px;}
.silk-contrast_high {background-position: -144px -128px;}
.silk-contrast_increase {background-position: -160px -128px;}
.silk-contrast_low {background-position: -176px -128px;}
.silk-control_eject {background-position: -192px -128px;}
.silk-control_eject_blue {background-position: -208px -128px;}
.silk-control_end {background-position: -224px -128px;}
.silk-control_end_blue {background-position: -240px -128px;}
.silk-control_equalizer {background-position: -256px -128px;}
.silk-control_equalizer_blue {background-position: -272px -128px;}
.silk-control_fastforward {background-position: -288px -128px;}
.silk-control_fastforward_blue {background-position: -304px -128px;}
.silk-control_pause {background-position: -320px -128px;}
.silk-control_pause_blue {background-position: -336px -128px;}
.silk-control_play {background-position: -352px -128px;}
.silk-control_play_blue {background-position: -368px -128px;}
.silk-control_repeat {background-position: -384px -128px;}
.silk-control_repeat_blue {background-position: -400px -128px;}
.silk-control_rewind {background-position: -416px -128px;}
.silk-control_rewind_blue {background-position: -432px -128px;}
.silk-control_start {background-position: -448px -128px;}
.silk-control_start_blue {background-position: -464px -128px;}
.silk-control_stop {background-position: -480px -128px;}
.silk-control_stop_blue {background-position: -496px -128px;}
.silk-controller {background-position: -0px -144px;}
.silk-controller_add {background-position: -16px -144px;}
.silk-controller_delete {background-position: -32px -144px;}
.silk-controller_error {background-position: -48px -144px;}
.silk-creditcards {background-position: -64px -144px;}
.silk-cross {background-position: -80px -144px;}
.silk-cup {background-position: -96px -144px;}
.silk-cup_add {background-position: -112px -144px;}
.silk-cup_delete {background-position: -128px -144px;}
.silk-cup_edit {background-position: -144px -144px;}
.silk-cup_error {background-position: -160px -144px;}
.silk-cup_go {background-position: -176px -144px;}
.silk-cup_key {background-position: -192px -144px;}
.silk-cup_link {background-position: -208px -144px;}
.silk-cursor {background-position: -224px -144px;}
.silk-cut {background-position: -240px -144px;}
.silk-cut_red {background-position: -256px -144px;}
.silk-database {background-position: -272px -144px;}
.silk-database_add {background-position: -288px -144px;}
.silk-database_connect {background-position: -304px -144px;}
.silk-database_delete {background-position: -320px -144px;}
.silk-database_edit {background-position: -336px -144px;}
.silk-database_error {background-position: -352px -144px;}
.silk-database_gear {background-position: -368px -144px;}
.silk-database_go {background-position: -384px -144px;}
.silk-database_key {background-position: -400px -144px;}
.silk-database_lightning {background-position: -416px -144px;}
.silk-database_link {background-position: -432px -144px;}
.silk-database_refresh {background-position: -448px -144px;}
.silk-database_save {background-position: -464px -144px;}
.silk-database_table {background-position: -480px -144px;}
.silk-date {background-position: -496px -144px;}
.silk-date_add {background-position: -0px -160px;}
.silk-date_delete {background-position: -16px -160px;}
.silk-date_edit {background-position: -32px -160px;}
.silk-date_error {background-position: -48px -160px;}
.silk-date_go {background-position: -64px -160px;}
.silk-date_link {background-position: -80px -160px;}
.silk-date_magnify {background-position: -96px -160px;}
.silk-date_next {background-position: -112px -160px;}
.silk-date_previous {background-position: -128px -160px;}
.silk-disconnect {background-position: -160px -160px;}
.silk-disk {background-position: -176px -160px;}
.silk-disk_multiple {background-position: -192px -160px;}
.silk-door {background-position: -208px -160px;}
.silk-door_in {background-position: -224px -160px;}
.silk-door_open {background-position: -240px -160px;}
.silk-door_out {background-position: -256px -160px;}
.silk-drink {background-position: -272px -160px;}
.silk-drink_empty {background-position: -288px -160px;}
.silk-drive_add {background-position: -320px -160px;}
.silk-drive_burn {background-position: -336px -160px;}
.silk-drive_cd {background-position: -352px -160px;}
.silk-drive_cd_empty {background-position: -368px -160px;}
.silk-drive_delete {background-position: -384px -160px;}
.silk-drive_disk {background-position: -400px -160px;}
.silk-drive_edit {background-position: -416px -160px;}
.silk-drive_error {background-position: -432px -160px;}
.silk-drive_go {background-position: -448px -160px;}
.silk-drive_key {background-position: -464px -160px;}
.silk-drive_link {background-position: -480px -160px;}
.silk-drive_magnify {background-position: -496px -160px;}
.silk-drive_network {background-position: -0px -176px;}
.silk-drive_rename {background-position: -16px -176px;}
.silk-drive_user {background-position: -32px -176px;}
.silk-drive_web {background-position: -48px -176px;}
.silk-email {background-position: -64px -176px;}
.silk-email_add {background-position: -80px -176px;}
.silk-email_attach {background-position: -96px -176px;}
.silk-email_delete {background-position: -112px -176px;}
.silk-email_edit {background-position: -128px -176px;}
.silk-email_error {background-position: -144px -176px;}
.silk-email_go {background-position: -160px -176px;}
.silk-email_link {background-position: -176px -176px;}
.silk-email_open {background-position: -192px -176px;}
.silk-email_open_image {background-position: -208px -176px;}
.silk-error_add {background-position: -240px -176px;}
.silk-error_delete {background-position: -256px -176px;}
.silk-error_go {background-position: -272px -176px;}
.silk-eye {background-position: -304px -176px;}
.silk-feed {background-position: -320px -176px;}
.silk-feed_add {background-position: -336px -176px;}
.silk-feed_delete {background-position: -352px -176px;}
.silk-feed_disk {background-position: -368px -176px;}
.silk-feed_edit {background-position: -384px -176px;}
.silk-feed_error {background-position: -400px -176px;}
.silk-feed_go {background-position: -416px -176px;}
.silk-feed_key {background-position: -432px -176px;}
.silk-feed_link {background-position: -448px -176px;}
.silk-feed_magnify {background-position: -464px -176px;}
.silk-find {background-position: -480px -176px;}
.silk-flag_blue {background-position: -496px -176px;}
.silk-flag_green {background-position: -0px -192px;}
.silk-flag_orange {background-position: -16px -192px;}
.silk-flag_pink {background-position: -32px -192px;}
.silk-flag_purple {background-position: -48px -192px;}
.silk-flag_red {background-position: -64px -192px;}
.silk-flag_yellow {background-position: -80px -192px;}
.silk-folder_add {background-position: -112px -192px;}
.silk-folder_bell {background-position: -128px -192px;}
.silk-folder_brick {background-position: -144px -192px;}
.silk-folder_bug {background-position: -160px -192px;}
.silk-folder_camera {background-position: -176px -192px;}
.silk-folder_database {background-position: -192px -192px;}
.silk-folder_delete {background-position: -208px -192px;}
.silk-folder_edit {background-position: -224px -192px;}
.silk-folder_error {background-position: -240px -192px;}
.silk-folder_explore {background-position: -256px -192px;}
.silk-folder_feed {background-position: -272px -192px;}
.silk-folder_find {background-position: -288px -192px;}
.silk-folder_go {background-position: -304px -192px;}
.silk-folder_heart {background-position: -320px -192px;}
.silk-folder_image {background-position: -336px -192px;}
.silk-folder_key {background-position: -352px -192px;}
.silk-folder_lightbulb {background-position: -368px -192px;}
.silk-folder_link {background-position: -384px -192px;}
.silk-folder_magnify {background-position: -400px -192px;}
.silk-folder_page {background-position: -416px -192px;}
.silk-folder_page_white {background-position: -432px -192px;}
.silk-folder_palette {background-position: -448px -192px;}
.silk-folder_picture {background-position: -464px -192px;}
.silk-folder_star {background-position: -480px -192px;}
.silk-folder_table {background-position: -496px -192px;}
.silk-folder_user {background-position: -0px -208px;}
.silk-folder_wrench {background-position: -16px -208px;}
.silk-font {background-position: -32px -208px;}
.silk-font_add {background-position: -48px -208px;}
.silk-font_delete {background-position: -64px -208px;}
.silk-font_go {background-position: -80px -208px;}
.silk-group_add {background-position: -112px -208px;}
.silk-group_delete {background-position: -128px -208px;}
.silk-group_edit {background-position: -144px -208px;}
.silk-group_error {background-position: -160px -208px;}
.silk-group_gear {background-position: -176px -208px;}
.silk-group_go {background-position: -192px -208px;}
.silk-group_key {background-position: -208px -208px;}
.silk-group_link {background-position: -224px -208px;}
.silk-heart {background-position: -240px -208px;}
.silk-heart_add {background-position: -256px -208px;}
.silk-heart_delete {background-position: -272px -208px;}
.silk-help {background-position: -288px -208px;}
.silk-hourglass {background-position: -304px -208px;}
.silk-hourglass_add {background-position: -320px -208px;}
.silk-hourglass_delete {background-position: -336px -208px;}
.silk-hourglass_go {background-position: -352px -208px;}
.silk-hourglass_link {background-position: -368px -208px;}
.silk-house {background-position: -384px -208px;}
.silk-house_go {background-position: -400px -208px;}
.silk-house_link {background-position: -416px -208px;}
.silk-image {background-position: -432px -208px;}
.silk-image_add {background-position: -448px -208px;}
.silk-image_delete {background-position: -464px -208px;}
.silk-image_edit {background-position: -480px -208px;}
.silk-image_link {background-position: -496px -208px;}
.silk-images {background-position: -0px -224px;}
.silk-joystick {background-position: -32px -224px;}
.silk-joystick_add {background-position: -48px -224px;}
.silk-joystick_delete {background-position: -64px -224px;}
.silk-joystick_error {background-position: -80px -224px;}
.silk-key {background-position: -96px -224px;}
.silk-key_add {background-position: -112px -224px;}
.silk-key_delete {background-position: -128px -224px;}
.silk-key_go {background-position: -144px -224px;}
.silk-keyboard {background-position: -160px -224px;}
.silk-keyboard_add {background-position: -176px -224px;}
.silk-keyboard_delete {background-position: -192px -224px;}
.silk-keyboard_magnify {background-position: -208px -224px;}
.silk-layers {background-position: -224px -224px;}
.silk-layout {background-position: -240px -224px;}
.silk-layout_add {background-position: -256px -224px;}
.silk-layout_content {background-position: -272px -224px;}
.silk-layout_delete {background-position: -288px -224px;}
.silk-layout_edit {background-position: -304px -224px;}
.silk-layout_error {background-position: -320px -224px;}
.silk-layout_header {background-position: -336px -224px;}
.silk-layout_link {background-position: -352px -224px;}
.silk-layout_sidebar {background-position: -368px -224px;}
.silk-lightbulb {background-position: -384px -224px;}
.silk-lightbulb_add {background-position: -400px -224px;}
.silk-lightbulb_delete {background-position: -416px -224px;}
.silk-lightbulb_off {background-position: -432px -224px;}
.silk-lightning {background-position: -448px -224px;}
.silk-lightning_add {background-position: -464px -224px;}
.silk-lightning_delete {background-position: -480px -224px;}
.silk-lightning_go {background-position: -496px -224px;}
.silk-link {background-position: -0px -240px;}
.silk-link_add {background-position: -16px -240px;}
.silk-link_break {background-position: -32px -240px;}
.silk-link_delete {background-position: -48px -240px;}
.silk-link_edit {background-position: -64px -240px;}
.silk-link_error {background-position: -80px -240px;}
.silk-link_go {background-position: -96px -240px;}
.silk-lock {background-position: -112px -240px;}
.silk-lock_add {background-position: -128px -240px;}
.silk-lock_break {background-position: -144px -240px;}
.silk-lock_delete {background-position: -160px -240px;}
.silk-lock_edit {background-position: -176px -240px;}
.silk-lock_go {background-position: -192px -240px;}
.silk-lock_open {background-position: -208px -240px;}
.silk-lorry {background-position: -224px -240px;}
.silk-lorry_add {background-position: -240px -240px;}
.silk-lorry_delete {background-position: -256px -240px;}
.silk-lorry_error {background-position: -272px -240px;}
.silk-lorry_flatbed {background-position: -288px -240px;}
.silk-lorry_go {background-position: -304px -240px;}
.silk-lorry_link {background-position: -320px -240px;}
.silk-magifier_zoom_out {background-position: -336px -240px;}
.silk-magnifier {background-position: -352px -240px;}
.silk-magnifier_zoom_in {background-position: -368px -240px;}
.silk-male {background-position: -384px -240px;}
.silk-map {background-position: -400px -240px;}
.silk-map_add {background-position: -416px -240px;}
.silk-map_delete {background-position: -432px -240px;}
.silk-map_edit {background-position: -448px -240px;}
.silk-map_go {background-position: -464px -240px;}
.silk-map_magnify {background-position: -480px -240px;}
.silk-medal_bronze_1 {background-position: -496px -240px;}
.silk-medal_bronze_2 {background-position: -0px -256px;}
.silk-medal_bronze_3 {background-position: -16px -256px;}
.silk-medal_bronze_add {background-position: -32px -256px;}
.silk-medal_bronze_delete {background-position: -48px -256px;}
.silk-medal_gold_add {background-position: -112px -256px;}
.silk-medal_gold_delete {background-position: -128px -256px;}
.silk-medal_silver_1 {background-position: -144px -256px;}
.silk-medal_silver_2 {background-position: -160px -256px;}
.silk-medal_silver_3 {background-position: -176px -256px;}
.silk-medal_silver_add {background-position: -192px -256px;}
.silk-medal_silver_delete {background-position: -208px -256px;}
.silk-money {background-position: -224px -256px;}
.silk-money_add {background-position: -240px -256px;}
.silk-money_delete {background-position: -256px -256px;}
.silk-monitor {background-position: -272px -256px;}
.silk-monitor_add {background-position: -288px -256px;}
.silk-monitor_delete {background-position: -304px -256px;}
.silk-monitor_edit {background-position: -320px -256px;}
.silk-monitor_error {background-position: -336px -256px;}
.silk-monitor_go {background-position: -352px -256px;}
.silk-monitor_lightning {background-position: -368px -256px;}
.silk-monitor_link {background-position: -384px -256px;}
.silk-mouse {background-position: -400px -256px;}
.silk-mouse_add {background-position: -416px -256px;}
.silk-mouse_delete {background-position: -432px -256px;}
.silk-mouse_error {background-position: -448px -256px;}
.silk-new {background-position: -464px -256px;}
.silk-newspaper {background-position: -480px -256px;}
.silk-newspaper_add {background-position: -496px -256px;}
.silk-newspaper_delete {background-position: -0px -272px;}
.silk-newspaper_go {background-position: -16px -272px;}
.silk-newspaper_link {background-position: -32px -272px;}
.silk-note {background-position: -48px -272px;}
.silk-note_add {background-position: -64px -272px;}
.silk-note_delete {background-position: -80px -272px;}
.silk-note_edit {background-position: -96px -272px;}
.silk-note_error {background-position: -112px -272px;}
.silk-note_go {background-position: -128px -272px;}
.silk-package {background-position: -144px -272px;}
.silk-package_add {background-position: -160px -272px;}
.silk-package_delete {background-position: -176px -272px;}
.silk-package_go {background-position: -192px -272px;}
.silk-package_green {background-position: -208px -272px;}
.silk-package_link {background-position: -224px -272px;}
.silk-page {background-position: -240px -272px;}
.silk-page_add {background-position: -256px -272px;}
.silk-page_attach {background-position: -272px -272px;}
.silk-page_code {background-position: -288px -272px;}
.silk-page_copy {background-position: -304px -272px;}
.silk-page_delete {background-position: -320px -272px;}
.silk-page_edit {background-position: -336px -272px;}
.silk-page_error {background-position: -352px -272px;}
.silk-page_excel {background-position: -368px -272px;}
.silk-page_find {background-position: -384px -272px;}
.silk-page_gear {background-position: -400px -272px;}
.silk-page_go {background-position: -416px -272px;}
.silk-page_green {background-position: -432px -272px;}
.silk-page_key {background-position: -448px -272px;}
.silk-page_lightning {background-position: -464px -272px;}
.silk-page_link {background-position: -480px -272px;}
.silk-page_paintbrush {background-position: -496px -272px;}
.silk-page_paste {background-position: -0px -288px;}
.silk-page_red {background-position: -16px -288px;}
.silk-page_refresh {background-position: -32px -288px;}
.silk-page_save {background-position: -48px -288px;}
.silk-page_white {background-position: -64px -288px;}
.silk-page_white_acrobat {background-position: -80px -288px;}
.silk-page_white_actionscript {background-position: -96px -288px;}
.silk-page_white_add {background-position: -112px -288px;}
.silk-page_white_c {background-position: -128px -288px;}
.silk-page_white_camera {background-position: -144px -288px;}
.silk-page_white_cd {background-position: -160px -288px;}
.silk-page_white_code {background-position: -176px -288px;}
.silk-page_white_code_red {background-position: -192px -288px;}
.silk-page_white_coldfusion {background-position: -208px -288px;}
.silk-page_white_compressed {background-position: -224px -288px;}
.silk-page_white_copy {background-position: -240px -288px;}
.silk-page_white_cplusplus {background-position: -256px -288px;}
.silk-page_white_csharp {background-position: -272px -288px;}
.silk-page_white_cup {background-position: -288px -288px;}
.silk-page_white_database {background-position: -304px -288px;}
.silk-page_white_delete {background-position: -320px -288px;}
.silk-page_white_dvd {background-position: -336px -288px;}
.silk-page_white_edit {background-position: -352px -288px;}
.silk-page_white_error {background-position: -368px -288px;}
.silk-page_white_excel {background-position: -384px -288px;}
.silk-page_white_find {background-position: -400px -288px;}
.silk-page_white_flash {background-position: -416px -288px;}
.silk-page_white_freehand {background-position: -432px -288px;}
.silk-page_white_gear {background-position: -448px -288px;}
.silk-page_white_get {background-position: -464px -288px;}
.silk-page_white_go {background-position: -480px -288px;}
.silk-page_white_h {background-position: -496px -288px;}
.silk-page_white_horizontal {background-position: -0px -304px;}
.silk-page_white_key {background-position: -16px -304px;}
.silk-page_white_lightning {background-position: -32px -304px;}
.silk-page_white_link {background-position: -48px -304px;}
.silk-page_white_magnify {background-position: -64px -304px;}
.silk-page_white_medal {background-position: -80px -304px;}
.silk-page_white_office {background-position: -96px -304px;}
.silk-page_white_paint {background-position: -112px -304px;}
.silk-page_white_paintbrush {background-position: -128px -304px;}
.silk-page_white_paste {background-position: -144px -304px;}
.silk-page_white_php {background-position: -160px -304px;}
.silk-page_white_picture {background-position: -176px -304px;}
.silk-page_white_powerpoint {background-position: -192px -304px;}
.silk-page_white_put {background-position: -208px -304px;}
.silk-page_white_ruby {background-position: -224px -304px;}
.silk-page_white_stack {background-position: -240px -304px;}
.silk-page_white_star {background-position: -256px -304px;}
.silk-page_white_swoosh {background-position: -272px -304px;}
.silk-page_white_text {background-position: -288px -304px;}
.silk-page_white_text_width {background-position: -304px -304px;}
.silk-page_white_tux {background-position: -320px -304px;}
.silk-page_white_vector {background-position: -336px -304px;}
.silk-page_white_visualstudio {background-position: -352px -304px;}
.silk-page_white_width {background-position: -368px -304px;}
.silk-page_white_word {background-position: -384px -304px;}
.silk-page_white_world {background-position: -400px -304px;}
.silk-page_white_wrench {background-position: -416px -304px;}
.silk-page_white_zip {background-position: -432px -304px;}
.silk-page_word {background-position: -448px -304px;}
.silk-page_world {background-position: -464px -304px;}
.silk-paintcan {background-position: -480px -304px;}
.silk-paste_plain {background-position: -496px -304px;}
.silk-paste_word {background-position: -0px -320px;}
.silk-pencil {background-position: -16px -320px;}
.silk-pencil_add {background-position: -32px -320px;}
.silk-pencil_delete {background-position: -48px -320px;}
.silk-pencil_go {background-position: -64px -320px;}
.silk-phone {background-position: -80px -320px;}
.silk-phone_add {background-position: -96px -320px;}
.silk-phone_delete {background-position: -112px -320px;}
.silk-phone_sound {background-position: -128px -320px;}
.silk-photo {background-position: -144px -320px;}
.silk-photo_add {background-position: -160px -320px;}
.silk-photo_delete {background-position: -176px -320px;}
.silk-photo_link {background-position: -192px -320px;}
.silk-photos {background-position: -208px -320px;}
.silk-picture {background-position: -224px -320px;}
.silk-picture_add {background-position: -240px -320px;}
.silk-picture_delete {background-position: -256px -320px;}
.silk-picture_edit {background-position: -272px -320px;}
.silk-picture_empty {background-position: -288px -320px;}
.silk-picture_error {background-position: -304px -320px;}
.silk-picture_go {background-position: -320px -320px;}
.silk-picture_key {background-position: -336px -320px;}
.silk-picture_link {background-position: -352px -320px;}
.silk-picture_save {background-position: -368px -320px;}
.silk-pictures {background-position: -384px -320px;}
.silk-pilcrow {background-position: -400px -320px;}
.silk-pill {background-position: -416px -320px;}
.silk-pill_add {background-position: -432px -320px;}
.silk-pill_delete {background-position: -448px -320px;}
.silk-pill_go {background-position: -464px -320px;}
.silk-plugin {background-position: -480px -320px;}
.silk-plugin_add {background-position: -496px -320px;}
.silk-plugin_delete {background-position: -0px -336px;}
.silk-plugin_disabled {background-position: -16px -336px;}
.silk-plugin_edit {background-position: -32px -336px;}
.silk-plugin_error {background-position: -48px -336px;}
.silk-plugin_go {background-position: -64px -336px;}
.silk-plugin_link {background-position: -80px -336px;}
.silk-printer {background-position: -96px -336px;}
.silk-printer_add {background-position: -112px -336px;}
.silk-printer_delete {background-position: -128px -336px;}
.silk-printer_empty {background-position: -144px -336px;}
.silk-printer_error {background-position: -160px -336px;}
.silk-report {background-position: -176px -336px;}
.silk-report_add {background-position: -192px -336px;}
.silk-report_delete {background-position: -208px -336px;}
.silk-report_disk {background-position: -224px -336px;}
.silk-report_edit {background-position: -240px -336px;}
.silk-report_go {background-position: -256px -336px;}
.silk-report_key {background-position: -272px -336px;}
.silk-report_link {background-position: -288px -336px;}
.silk-report_magnify {background-position: -304px -336px;}
.silk-report_picture {background-position: -320px -336px;}
.silk-report_user {background-position: -336px -336px;}
.silk-report_word {background-position: -352px -336px;}
.silk-resultset_first {background-position: -368px -336px;}
.silk-resultset_last {background-position: -384px -336px;}
.silk-resultset_next {background-position: -400px -336px;}
.silk-resultset_previous {background-position: -416px -336px;}
.silk-rosette {background-position: -432px -336px;}
.silk-rss {background-position: -448px -336px;}
.silk-ruby {background-position: -464px -336px;}
.silk-ruby_add {background-position: -480px -336px;}
.silk-ruby_delete {background-position: -496px -336px;}
.silk-ruby_gear {background-position: -0px -352px;}
.silk-ruby_get {background-position: -16px -352px;}
.silk-ruby_go {background-position: -32px -352px;}
.silk-ruby_key {background-position: -48px -352px;}
.silk-ruby_link {background-position: -64px -352px;}
.silk-ruby_put {background-position: -80px -352px;}
.silk-script {background-position: -96px -352px;}
.silk-script_add {background-position: -112px -352px;}
.silk-script_code {background-position: -128px -352px;}
.silk-script_code_red {background-position: -144px -352px;}
.silk-script_delete {background-position: -160px -352px;}
.silk-script_edit {background-position: -176px -352px;}
.silk-script_error {background-position: -192px -352px;}
.silk-script_gear {background-position: -208px -352px;}
.silk-script_go {background-position: -224px -352px;}
.silk-script_key {background-position: -240px -352px;}
.silk-script_lightning {background-position: -256px -352px;}
.silk-script_link {background-position: -272px -352px;}
.silk-script_palette {background-position: -288px -352px;}
.silk-script_save {background-position: -304px -352px;}
.silk-server {background-position: -320px -352px;}
.silk-server_add {background-position: -336px -352px;}
.silk-server_chart {background-position: -352px -352px;}
.silk-server_compressed {background-position: -368px -352px;}
.silk-server_connect {background-position: -384px -352px;}
.silk-server_database {background-position: -400px -352px;}
.silk-server_delete {background-position: -416px -352px;}
.silk-server_edit {background-position: -432px -352px;}
.silk-server_error {background-position: -448px -352px;}
.silk-server_go {background-position: -464px -352px;}
.silk-server_key {background-position: -480px -352px;}
.silk-server_lightning {background-position: -496px -352px;}
.silk-server_link {background-position: -0px -368px;}
.silk-server_uncompressed {background-position: -16px -368px;}
.silk-shape_square {background-position: -32px -368px;}
.silk-shape_square_add {background-position: -48px -368px;}
.silk-shape_square_delete {background-position: -64px -368px;}
.silk-shape_square_edit {background-position: -80px -368px;}
.silk-shape_square_error {background-position: -96px -368px;}
.silk-shape_square_go {background-position: -112px -368px;}
.silk-shape_square_key {background-position: -128px -368px;}
.silk-shape_square_link {background-position: -144px -368px;}
.silk-shape_ungroup {background-position: -160px -368px;}
.silk-shield {background-position: -176px -368px;}
.silk-shield_add {background-position: -192px -368px;}
.silk-shield_delete {background-position: -208px -368px;}
.silk-shield_go {background-position: -224px -368px;}
.silk-sitemap {background-position: -240px -368px;}
.silk-sitemap_color {background-position: -256px -368px;}
.silk-sound {background-position: -272px -368px;}
.silk-sound_add {background-position: -288px -368px;}
.silk-sound_delete {background-position: -304px -368px;}
.silk-sound_low {background-position: -320px -368px;}
.silk-sound_mute {background-position: -336px -368px;}
.silk-sound_none {background-position: -352px -368px;}
.silk-spellcheck {background-position: -368px -368px;}
.silk-star {background-position: -384px -368px;}
.silk-status_away {background-position: -400px -368px;}
.silk-status_busy {background-position: -416px -368px;}
.silk-status_offline {background-position: -432px -368px;}
.silk-status_online {background-position: -448px -368px;}
.silk-stop {background-position: -464px -368px;}
.silk-style {background-position: -480px -368px;}
.silk-style_add {background-position: -496px -368px;}
.silk-style_delete {background-position: -0px -384px;}
.silk-style_edit {background-position: -16px -384px;}
.silk-style_go {background-position: -32px -384px;}
.silk-sum {background-position: -48px -384px;}
.silk-tab {background-position: -64px -384px;}
.silk-tab_add {background-position: -80px -384px;}
.silk-tab_delete {background-position: -96px -384px;}
.silk-tab_edit {background-position: -112px -384px;}
.silk-tab_go {background-position: -128px -384px;}
.silk-table {background-position: -144px -384px;}
.silk-table_add {background-position: -160px -384px;}
.silk-table_delete {background-position: -176px -384px;}
.silk-table_edit {background-position: -192px -384px;}
.silk-table_error {background-position: -208px -384px;}
.silk-table_gear {background-position: -224px -384px;}
.silk-table_go {background-position: -240px -384px;}
.silk-table_key {background-position: -256px -384px;}
.silk-table_lightning {background-position: -272px -384px;}
.silk-table_link {background-position: -288px -384px;}
.silk-table_multiple {background-position: -304px -384px;}
.silk-table_refresh {background-position: -320px -384px;}
.silk-table_relationship {background-position: -336px -384px;}
.silk-table_row_delete {background-position: -352px -384px;}
.silk-table_row_insert {background-position: -368px -384px;}
.silk-table_save {background-position: -384px -384px;}
.silk-table_sort {background-position: -400px -384px;}
.silk-tag {background-position: -416px -384px;}
.silk-tag_blue {background-position: -432px -384px;}
.silk-tag_blue_add {background-position: -448px -384px;}
.silk-tag_blue_delete {background-position: -464px -384px;}
.silk-tag_blue_edit {background-position: -480px -384px;}
.silk-tag_green {background-position: -496px -384px;}
.silk-tag_orange {background-position: -0px -400px;}
.silk-tag_pink {background-position: -16px -400px;}
.silk-tag_purple {background-position: -32px -400px;}
.silk-tag_red {background-position: -48px -400px;}
.silk-tag_yellow {background-position: -64px -400px;}
.silk-telephone {background-position: -80px -400px;}
.silk-telephone_add {background-position: -96px -400px;}
.silk-telephone_delete {background-position: -112px -400px;}
.silk-telephone_edit {background-position: -128px -400px;}
.silk-telephone_error {background-position: -144px -400px;}
.silk-telephone_go {background-position: -160px -400px;}
.silk-telephone_key {background-position: -176px -400px;}
.silk-telephone_link {background-position: -192px -400px;}
.silk-television {background-position: -208px -400px;}
.silk-television_add {background-position: -224px -400px;}
.silk-television_delete {background-position: -240px -400px;}
.silk-text_dropcaps {background-position: -256px -400px;}
.silk-textfield {background-position: -272px -400px;}
.silk-textfield_add {background-position: -288px -400px;}
.silk-textfield_delete {background-position: -304px -400px;}
.silk-textfield_key {background-position: -320px -400px;}
.silk-textfield_rename {background-position: -336px -400px;}
.silk-thumb_down {background-position: -352px -400px;}
.silk-thumb_up {background-position: -368px -400px;}
.silk-tick {background-position: -384px -400px;}
.silk-time {background-position: -400px -400px;}
.silk-time_add {background-position: -416px -400px;}
.silk-time_delete {background-position: -432px -400px;}
.silk-time_go {background-position: -448px -400px;}
.silk-timeline_marker {background-position: -464px -400px;}
.silk-transmit {background-position: -480px -400px;}
.silk-transmit_add {background-position: -496px -400px;}
.silk-transmit_blue {background-position: -0px -416px;}
.silk-transmit_delete {background-position: -16px -416px;}
.silk-transmit_edit {background-position: -32px -416px;}
.silk-transmit_error {background-position: -48px -416px;}
.silk-transmit_go {background-position: -64px -416px;}
.silk-tux {background-position: -80px -416px;}
.silk-user_add {background-position: -112px -416px;}
.silk-user_comment {background-position: -128px -416px;}
.silk-user_delete {background-position: -144px -416px;}
.silk-user_edit {background-position: -160px -416px;}
.silk-user_female {background-position: -176px -416px;}
.silk-user_go {background-position: -192px -416px;}
.silk-user_green {background-position: -224px -416px;}
.silk-user_orange {background-position: -240px -416px;}
.silk-vcard {background-position: -288px -416px;}
.silk-vcard_add {background-position: -304px -416px;}
.silk-vcard_delete {background-position: -320px -416px;}
.silk-vcard_edit {background-position: -336px -416px;}
.silk-wand {background-position: -352px -416px;}
.silk-webcam {background-position: -368px -416px;}
.silk-webcam_add {background-position: -384px -416px;}
.silk-webcam_delete {background-position: -400px -416px;}
.silk-webcam_error {background-position: -416px -416px;}
.silk-world {background-position: -432px -416px;}
.silk-world_add {background-position: -448px -416px;}
.silk-world_delete {background-position: -464px -416px;}
.silk-world_edit {background-position: -480px -416px;}
.silk-world_go {background-position: -496px -416px;}
.silk-world_link {background-position: -0px -432px;}
.silk-wrench {background-position: -16px -432px;}
.silk-wrench_orange {background-position: -32px -432px;}
.silk-zoom {background-position: -48px -432px;}
.silk-zoom_in {background-position: -64px -432px;}
.silk-zoom_out {background-position: -80px -432px;}
*/

.silk-script {background-position: -96px -352px;}
.silk-application_osx_terminal {background-position: -352px -0px;}
.silk-cog {background-position: -176px -112px;}
.silk-user_red {background-position: -256px -416px;}
.silk-user_gray {background-position: -208px -416px;}
.silk-user_suit {background-position: -272px -416px;}
.silk-user {background-position: -96px -416px;}
.silk-medal_gold_1 {background-position: -64px -256px;}
.silk-medal_gold_2 {background-position: -80px -256px;}
.silk-medal_gold_3 {background-position: -96px -256px;}
.silk-medal_silver_1 {background-position: -144px -256px;}
.silk-add {background-position: -16px -0px;}
.silk-delete {background-position: -144px -160px;}
.silk-building {background-position: -400px -48px;}
.silk-arrow_refresh {background-position: -288px -16px;}
.silk-accept {background-position: -0px -0px;}
.silk-information {background-position: -16px -224px;}
.silk-folder {background-position: -96px -192px;}
.silk-group {background-position: -96px -208px;}
.silk-exclamation {background-position: -288px -176px;}
.silk-error {background-position: -224px -176px;}
.silk-drive {background-position: -304px -160px;}