*~
.project
.classpath
.settings
.idea
*.iml
target
rebel.xml
samples/model-client-sample-dotnet/ModelClientSample/ModelClientSample/bin
samples/model-client-sample-dotnet/ModelClientSample/ModelClientSample/obj
