*~
.project
.classpath
.settings
/.idea/
*.iml
*.log
*.versionsBackup
target/
rebel.xml
samples/model-client-sample-dotnet/ModelClientSample/ModelClientSample/bin
samples/model-client-sample-dotnet/ModelClientSample/ModelClientSample/obj
velocity.log
.java-version

dependency-reduced-pom.xml
/nb-configuration.xml
/nbactions.xml

.DS_Store

tools/schrodinger/build
testing/schrodingertest/build

test-output/

_mess
.checkstyle
gui/bin/com/
