<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010-2017 Evolveum
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
	<appender name="X" class="ch.qos.logback.core.FileAppender">
		<file>./target/test.log</file>
		<encoder>
			<pattern>%date [%thread] %-5level \(%logger{46}\): %message%n</pattern>
		</encoder>
	</appender>
    <logger name="com.evolveum.midpoint.util.ClassPathUtil" level="OFF"/>
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="OFF"/>
	<logger name="com.evolveum.midpoint.schema" level="DEBUG" />
	<logger name="com.evolveum.midpoint.common.LoggingConfigurationManager" level="DEBUG" />
	<logger name="com.evolveum.midpoint.model.intest" level="TRACE" />
	<logger name="com.evolveum.midpoint.model" level="DEBUG" />
	<logger name="com.evolveum.midpoint.model.impl.sync.LiveSyncTaskHandler" level="DEBUG" />
	<logger name="com.evolveum.midpoint.model.impl.sync.ReconciliationTaskHandler" level="DEBUG" />
	<logger name="com.evolveum.midpoint.model.impl.sync.SynchronizeAccountResultHandler" level="DEBUG" />
	<logger name="com.evolveum.midpoint.provisioning.impl.ChangeNotificationDispatcherImpl" level="DEBUG" />
	<logger name="com.evolveum.midpoint.test" level="TRACE" />
	<logger name="com.evolveum.midpoint.model.common.Clock" level="DEBUG" />
	
	<!-- Temporary, to hunt down MID-3036 -->
	<logger name="com.evolveum.midpoint.task" level="DEBUG" />
	<logger name="com.evolveum.midpoint.task.quartzimpl.execution.JobExecutor" level="DEBUG" /> <!-- should be DEBUG -->
		
	<logger name="PROFILING" level="OFF" />
	<logger name="com.evolveum.midpoint.audit.log" level="TRACE" />
	
    <!-- "TRACE" is just too much info, "DEBUG" should be enough for the following talkative components ... 
         if any of the following is set to "TRACE" then it was changed by mistake and should be changed back -->
	<logger name="com.evolveum.midpoint.model.impl.lens.Clockwork" level="TRACE" />
	<logger name="com.evolveum.midpoint.model.impl.lens.projector" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.projector.Projector" level="TRACE" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.projector.ContextLoader" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.PasswordPolicyProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.AssignmentProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.ConstructionProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.ProjectionValuesProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.OutboundProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.ConsolidationProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.ReconciliationProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.ActivationProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.MappingEvaluator" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.projector.focus.FocusProcessor" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.projector.focus.InboundProcessor" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.projector.focus.FocusProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.focus.FocusConstraintsChecker" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.focus.FocusPolicyProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.focus.ObjectTemplateProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.focus.AssignmentTripleEvaluator" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.credentials.CredentialsProcessor" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.lens.projector.credentials.ProjectionCredentialsProcessor" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.ChangeExecutor" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.ShadowConstraintsChecker" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.LensUtil" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.AssignmentEvaluator" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.EvaluatedAssignmentImpl" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.MetadataManager" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.lens.PersonaProcessor" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.controller.SchemaTransformer" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.expr" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.util" level="DEBUG" />
	<logger name="com.evolveum.midpoint.model.impl.sync" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.impl.sync.CorrelationConfirmationEvaluator" level="DEBUG" />
    <logger name="com.evolveum.midpoint.provisioning" level="DEBUG" />
    <logger name="com.evolveum.midpoint.provisioning.impl.ResourceManager" level="DEBUG" />
    <logger name="com.evolveum.midpoint.provisioning.consistency" level="DEBUG" />
	<logger name="com.evolveum.midpoint.expression" level="DEBUG" />
	<logger name="com.evolveum.midpoint.model.common.expression" level="DEBUG" />
	<logger name="com.evolveum.midpoint.model.common.expression.Expression" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.common.mapping" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.common.expression.evaluator.AbstractSearchExpressionEvaluator" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.common.expression.evaluator.AssignmentExpressionEvaluator" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.common.expression.evaluator.AssociationExpressionEvaluator" level="DEBUG" />
 	<logger name="com.evolveum.midpoint.model.common.stringpolicy.ValuePolicyGenerator" level="DEBUG" />
	<logger name="com.evolveum.midpoint.model.impl.controller.ObjectMerger" level="DEBUG" />
    <logger name="com.evolveum.midpoint.notifications" level="DEBUG" />
    <logger name="com.evolveum.midpoint.security" level="DEBUG" />
    <logger name="com.evolveum.midpoint.security.enforcer.impl.SecurityEnforcerImpl" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.security" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.util.AbstractSearchIterativeTaskHandler" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.sync.SynchronizationServiceImpl" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.sync.ReconciliationTaskHandler" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.sync.RecomputeTaskHandler" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.sync.FocusValidityScannerTaskHandler" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.sync.SynchronizeAccountResultHandler" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.controller.ModelController" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.controller.ModelInteractionServiceImpl" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.controller.SchemaTransformer" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.importer" level="DEBUG" />
    <logger name="com.evolveum.midpoint.common.validator" level="DEBUG" />
    <logger name="com.evolveum.icf.dummy" level="INFO" />
    <logger name="com.evolveum.midpoint.model.impl.expr" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.impl.util.DeleteTaskHandler" level="DEBUG" />
	<logger name="com.evolveum.midpoint.repo" level="INFO" />
	<logger name="com.evolveum.midpoint.repo.cache" level="DEBUG" />
	<logger name="com.evolveum.midpoint.model.common.SystemObjectCache" level="DEBUG" />
	<logger name="com.evolveum.midpoint.model.impl.controller.AuditController" level="DEBUG" />
	<logger name="com.evolveum.midpoint.schema.internals.InternalMonitor" level="INFO" />
	
	<logger name="com.evolveum.midpoint.repo.common.expression.ExpressionUtil" level="TRACE"/>
	
	<logger name="org.identityconnectors.framework" level="TRACE" />
	<logger name="com.evolveum.icf.dummy.connector" level="DEBUG" />
	<logger name="com.evolveum.icf.dummy.resource" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="X" />
	</root>
</configuration>

