<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012 Evolveum
  ~
  ~ The contents of this file are subject to the terms
  ~ of the Common Development and Distribution License
  ~ (the License). You may not use this file except in
  ~ compliance with the License.
  ~
  ~ You can obtain a copy of the License at
  ~ http://www.opensource.org/licenses/cddl1 or
  ~ CDDLv1.0.txt file in the source code distribution.
  ~ See the License for the specific language governing
  ~ permission and limitations under the License.
  ~
  ~ If applicable, add the following below the CDDL Header,
  ~ with the fields enclosed by brackets [] replaced by
  ~ your own identifying information:
  ~
  ~ Portions Copyrighted 2012 [name of copyright owner]
  -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="unit" parallel="false">
    <test name="Startup Tests" parallel="false" preserve-order="true" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.repo.sql.SpringApplicationContextTest"/>
            <class name="com.evolveum.midpoint.repo.sql.EmbeddedServerModeTest"/>
            <class name="com.evolveum.midpoint.repo.sql.DataSourceTest"/>
        </classes>
    </test>
    <test name="Query Add Tests" parallel="false" preserve-order="true" verbose="10" enabled="true">
        <classes>
            <class name="com.evolveum.midpoint.repo.sql.QueryInterpreterTest"/>
            <class name="com.evolveum.midpoint.repo.sql.DeleteTest"/>
            <class name="com.evolveum.midpoint.repo.sql.AddGetObjectTest"/>
            <class name="com.evolveum.midpoint.repo.sql.AddOverwriteTest"/>
            <class name="com.evolveum.midpoint.repo.sql.EncodingTest"/>
            <class name="com.evolveum.midpoint.repo.sql.ModifyTest"/>
            <class name="com.evolveum.midpoint.repo.sql.ModifyAssignmentTest"/>
            <class name="com.evolveum.midpoint.repo.sql.ResourceModifyTest"/>
            <class name="com.evolveum.midpoint.repo.sql.ListAccountShadowOwnerTest"/>
            <class name="com.evolveum.midpoint.repo.sql.OrgStructTest"/>
            <class name="com.evolveum.midpoint.repo.sql.SearchTest"/>
        </classes>
    </test>
    <test name="Concurrency Tests" parallel="false" preserve-order="true" verbose="10" enabled="true">
        <classes>
            <class name="com.evolveum.midpoint.repo.sql.ConcurrencyTest"/>
        </classes>
    </test>
    <test name="RAnyConverter" parallel="false" preserve-order="true" verbose="10" enabled="true">
        <classes>
            <class name="com.evolveum.midpoint.repo.sql.RAnyConverterStaticTest"/>
        </classes>
    </test>
</suite>
