<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012 Evolveum
  ~
  ~ The contents of this file are subject to the terms
  ~ of the Common Development and Distribution License
  ~ (the License). You may not use this file except in
  ~ compliance with the License.
  ~
  ~ You can obtain a copy of the License at
  ~ http://www.opensource.org/licenses/cddl1 or
  ~ CDDLv1.0.txt file in the source code distribution.
  ~ See the License for the specific language governing
  ~ permission and limitations under the License.
  ~
  ~ If applicable, add the following below the CDDL Header,
  ~ with the fields enclosed by brackets [] replaced by
  ~ your own identifying information:
  ~
  ~ Portions Copyrighted 2012 [name of copyright owner]
  -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="unit" parallel="false">
    <listeners>
        <listener class-name="com.evolveum.midpoint.tools.testng.TestMethodLoggerListener"/>
    </listeners>
    <test name="Model Basic" preserve-order="true" parallel="false" verbose="10" enabled="false">
        <classes>
            <class name="com.evolveum.midpoint.model.SpringApplicationContextTest"/>
        </classes>
    </test>
    <test name="Controller" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.controller.ControllerAddObjectTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerGetObjectTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerLaunchImportTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerListAccountShadowOwnerTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerListObjectsTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerListResourceObjectsTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerModifyObjectTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerSearchObjectsTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerTestResourceTest"/>
            <class name="com.evolveum.midpoint.model.controller.FilterManagerImplTest"/>
            <class name="com.evolveum.midpoint.model.controller.ModelUtilsTest"/>
        </classes>
    </test>
    <test name="Expresions" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.expr.ExpressionHandlerImplTest"/>
            <class name="com.evolveum.midpoint.model.expr.TestModelExpressions"/>
        </classes>
    </test>
    <test name="Filters" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.filter.DiacriticsFilterTest"/>
            <class name="com.evolveum.midpoint.model.filter.EmptyFilterTest"/>
            <class name="com.evolveum.midpoint.model.filter.PatternFilterTest"/>
        </classes>
    </test>
    <test name="Synchronization" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.sync.SynchronizationSituationTest"/>
            <class name="com.evolveum.midpoint.model.sync.ActionManagerImplTest"/>
            <class name="com.evolveum.midpoint.model.sync.TestSynchronizationService"/>
        </classes>
    </test>
    <test name="Lens" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.lens.TestAssignmentProcessor"/>
            <class name="com.evolveum.midpoint.model.lens.TestAssignmentEvaluator"/>
            <class name="com.evolveum.midpoint.model.lens.TestProjectorAddUser"/>
            <class name="com.evolveum.midpoint.model.lens.TestProjector"/>
            <class name="com.evolveum.midpoint.model.lens.TestClockwork"/>
        </classes>
    </test>
    <test name="Model Web service" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.ModelWebServiceTest"/>
        </classes>
    </test>
</suite>
