<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012 Evolveum
  ~
  ~ The contents of this file are subject to the terms
  ~ of the Common Development and Distribution License
  ~ (the License). You may not use this file except in
  ~ compliance with the License.
  ~
  ~ You can obtain a copy of the License at
  ~ http://www.opensource.org/licenses/cddl1 or
  ~ CDDLv1.0.txt file in the source code distribution.
  ~ See the License for the specific language governing
  ~ permission and limitations under the License.
  ~
  ~ If applicable, add the following below the CDDL Header,
  ~ with the fields enclosed by brackets [] replaced by
  ~ your own identifying information:
  ~
  ~ Portions Copyrighted 2012 [name of copyright owner]
  -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="unit" parallel="false">
    <listeners>
        <listener class-name="com.evolveum.midpoint.tools.testng.TestMethodLoggerListener"/>
    </listeners>
    <test name="Model Basic" preserve-order="true" parallel="false" verbose="10" enabled="false">
        <classes>
            <class name="com.evolveum.midpoint.model.SpringApplicationContextTest"/>
            <class name="com.evolveum.midpoint.model.TestLoggingConfiguration"/>
        </classes>
    </test>
    <test name="Controller add" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.controller.ControllerAddObjectTest"/>
        </classes>
    </test>
    <test name="Controler delete" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.controller.ControllerDeleteObjectTest"/>
        </classes>
    </test>
    <test name="Controler get" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.controller.ControllerGetObjectTest"/>
        </classes>
    </test>
    <test name="Cotroler import" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.controller.ControllerLaunchImportTest"/>
        </classes>
    </test>
    <test name="Controler List" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.controller.ControllerListAccountShadowOwnerTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerListObjectsTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerListResourceObjectShadowsTest"/>
            <class name="com.evolveum.midpoint.model.controller.ControllerListResourceObjectsTest"/>
        </classes>
    </test>
    <test name="Controle modify" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.controller.ControllerModifyObjectTest"/>
        </classes>
    </test>
    <test name="Controler Search" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.controller.ControllerSearchObjectsTest"/>
        </classes>
    </test>
    <test name="Controler Test Resource" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.controller.ControllerTestResourceTest"/>
        </classes>
    </test>
    <test name="Controler Utils" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.controller.FilterManagerImplTest"/>
            <class name="com.evolveum.midpoint.model.controller.ModelUtilsTest"/>
        </classes>
    </test>
    <test name="Expresions" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.expr.ExpressionHandlerImplTest"/>
        </classes>
    </test>
    <test name="Filters" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.filter.DiacriticsFilterTest"/>
            <class name="com.evolveum.midpoint.model.filter.EmptyFilterTest"/>
            <class name="com.evolveum.midpoint.model.filter.PatternFilterTest"/>
        </classes>
    </test>
    <test name="Importer" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.importer.ImportRefTest"/>
            <class name="com.evolveum.midpoint.model.importer.ImportTest"/>
            <class name="com.evolveum.midpoint.model.importer.BadImportTest"/>
        </classes>
    </test>
    <test name="Synchronization" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.sync.SynchronizationSituationTest"/>
            <class name="com.evolveum.midpoint.model.sync.ActionManagerImplTest"/>
            <class name="com.evolveum.midpoint.model.sync.TestSynchronizationService"/>
            <class name="com.evolveum.midpoint.model.sync.TestLiveSyncTask"/>
        </classes>
    </test>
    <test name="Lens" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.lens.TestAssignmentProcessor"/>
            <class name="com.evolveum.midpoint.model.lens.TestAssignmentEvaluator"/>
            <class name="com.evolveum.midpoint.model.lens.TestProjectorAddUser"/>
            <class name="com.evolveum.midpoint.model.lens.TestProjector"/>
            <class name="com.evolveum.midpoint.model.lens.TestClockwork"/>
        </classes>
    </test>
    <test name="Model Web service" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.ModelWebServiceTest"/>
        </classes>
    </test>
    <test name="Model Contract" preserve-order="true" parallel="false" verbose="10">
        <classes>
        	<class name="com.evolveum.midpoint.model.TestModelServiceContract"/>
        	<class name="com.evolveum.midpoint.model.TestModelServiceContractDeprecated"/>
        	<class name="com.evolveum.midpoint.model.TestPreviewChanges"/>
        	<class name="com.evolveum.midpoint.model.TestRbac"/>
            <class name="com.evolveum.midpoint.model.TestSegregationOfDuties"/>
            <class name="com.evolveum.midpoint.model.TestMultiResource"/>
            <class name="com.evolveum.midpoint.model.TestUserTemplate"/>
            <class name="com.evolveum.midpoint.model.TestOrgStruct"/>
            <class name="com.evolveum.midpoint.model.TestSchemalessResource"/>
            <class name="com.evolveum.midpoint.model.TestPassword"/>
            <class name="com.evolveum.midpoint.model.TestActivation"/>
            <class name="com.evolveum.midpoint.model.TestImportRecon"/>
            <class name="com.evolveum.midpoint.model.TestMultiConnector"/>
            <class name="com.evolveum.midpoint.model.negative.TestBrokenCSV"/>
        </classes>
    </test>
</suite>
