<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2011 Evolveum
  ~
  ~ The contents of this file are subject to the terms
  ~ of the Common Development and Distribution License
  ~ (the License). You may not use this file except in
  ~ compliance with the License.
  ~
  ~ You can obtain a copy of the License at
  ~ http://www.opensource.org/licenses/cddl1 or
  ~ CDDLv1.0.txt file in the source code distribution.
  ~ See the License for the specific language governing
  ~ permission and limitations under the License.
  ~
  ~ If applicable, add the following below the CDDL Header,
  ~ with the fields enclosed by brackets [] replaced by
  ~ your own identifying information:
  ~
  ~ Portions Copyrighted 2011 [name of copyright owner]
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">


    <global-method-security secured-annotations="enabled"/>

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/j_spring_security_check" access="permitAll"/>
        <intercept-url pattern="/spring_security_login" access="permitAll"/>
        <intercept-url pattern="/test" access="hasAnyRole('ROLE_TELLER')"/>
        <intercept-url pattern="/test/**" access="hasAnyRole('ROLE_TELLER')"/>
        <intercept-url pattern="/**" access="permitAll"/>
    </http>


    <!--
    Usernames/Passwords are
        moez/moez
        test/test
    -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <password-encoder hash="md5"/>
            <user-service>
                <user name="moez" password="f69471ca2c42621b8b8e731b2b4446e4"
                      authorities="ROLE_SUPERVISOR, ROLE_USER, ROLE_TELLER"/>
                <user name="test" password="098f6bcd4621d373cade4e832627b4f6" authorities="ROLE_USER"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>
