[class^="flag-"], [class*=" flag-"] {
  background-image: url('../img/flag.png');
  background-position: 0 0;
  height: 11px;
  width: 16px;
  margin-top: 0px;
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: 16px;
  display: inline-block;
}

i.flag-me { width: 16px; height: 12px; background-position: -1px -1px; }
i.flag-zw { background-position: -1px -14px; }
i.flag-zm { background-position: -1px -26px; }
i.flag-za { background-position: -1px -38px; }
i.flag-yt { background-position: -18px -1px; }
i.flag-ye { background-position: -18px -13px; }
i.flag-ws { background-position: -18px -25px; }
i.flag-wf { background-position: -18px -37px; }
i.flag-wales { background-position: -18px -49px; }
i.flag-vu { background-position: -35px -1px; }
i.flag-vn { background-position: -35px -13px; }
i.flag-vi { background-position: -35px -25px; }
i.flag-vg { background-position: -35px -37px; }
i.flag-ve { background-position: -35px -49px; }
i.flag-vc { background-position: -52px -1px; }
i.flag-va { background-position: -52px -13px; }
i.flag-uz { background-position: -52px -25px; }
i.flag-uy { background-position: -52px -37px; }
i.flag-us { background-position: -52px -49px; }
i.flag-um { background-position: -69px -1px; }
i.flag-ug { background-position: -69px -13px; }
i.flag-ua { background-position: -69px -25px; }
i.flag-tz { background-position: -69px -37px; }
i.flag-tw { background-position: -69px -49px; }
i.flag-tv { background-position: -86px -1px; }
i.flag-tt { background-position: -86px -13px; }
i.flag-tr { background-position: -86px -25px; }
i.flag-to { background-position: -86px -37px; }
i.flag-tn { background-position: -86px -49px; }
i.flag-tm { background-position: -103px -1px; }
i.flag-tl { background-position: -103px -13px; }
i.flag-tk { background-position: -103px -25px; }
i.flag-tj { background-position: -103px -37px; }
i.flag-th { background-position: -103px -49px; }
i.flag-tg { background-position: -120px -1px; }
i.flag-tf { background-position: -120px -13px; }
i.flag-td { background-position: -120px -25px; }
i.flag-tc { background-position: -120px -37px; }
i.flag-sz { background-position: -120px -49px; }
i.flag-sy { background-position: -137px -1px; }
i.flag-sv { background-position: -137px -13px; }
i.flag-st { background-position: -137px -25px; }
i.flag-sr { background-position: -137px -37px; }
i.flag-so { background-position: -137px -49px; }
i.flag-sn { background-position: -154px -1px; }
i.flag-sm { background-position: -154px -13px; }
i.flag-sl { background-position: -154px -25px; }
i.flag-sk { background-position: -154px -37px; }
i.flag-si { background-position: -154px -49px; }
i.flag-sh { background-position: -171px -1px; }
i.flag-sg { background-position: -171px -13px; }
i.flag-se { background-position: -171px -25px; }
i.flag-sd { background-position: -171px -37px; }
i.flag-scotland { background-position: -171px -49px; }
i.flag-sc { background-position: -188px -1px; }
i.flag-sb { background-position: -188px -13px; }
i.flag-sa { background-position: -188px -25px; }
i.flag-rw { background-position: -188px -37px; }
i.flag-ru { background-position: -188px -49px; }
i.flag-rs { background-position: -205px -1px; }
i.flag-ro { background-position: -205px -13px; }
i.flag-qa { background-position: -205px -25px; }
i.flag-py { background-position: -205px -37px; }
i.flag-pw { background-position: -205px -49px; }
i.flag-pt { background-position: -222px -1px; }
i.flag-ps { background-position: -222px -13px; }
i.flag-pr { background-position: -222px -25px; }
i.flag-pn { background-position: -222px -37px; }
i.flag-pm { background-position: -222px -49px; }
i.flag-pl { background-position: -239px -1px; }
i.flag-pk { background-position: -239px -13px; }
i.flag-ph { background-position: -239px -25px; }
i.flag-pg { background-position: -239px -37px; }
i.flag-pf { background-position: -239px -49px; }
i.flag-pe { background-position: -256px -1px; }
i.flag-pa { background-position: -256px -13px; }
i.flag-om { background-position: -256px -25px; }
i.flag-nz { background-position: -256px -37px; }
i.flag-nu { background-position: -256px -49px; }
i.flag-nr { background-position: -273px -1px; }
i.flag-nl { background-position: -273px -13px; }
i.flag-ni { background-position: -273px -25px; }
i.flag-ng { background-position: -273px -37px; }
i.flag-nf { background-position: -273px -49px; }
i.flag-ne { background-position: -290px -1px; }
i.flag-nc { background-position: -290px -13px; }
i.flag-na { background-position: -290px -25px; }
i.flag-mz { background-position: -290px -37px; }
i.flag-my { background-position: -290px -49px; }
i.flag-mx { background-position: -307px -1px; }
i.flag-mw { background-position: -307px -13px; }
i.flag-mv { background-position: -307px -25px; }
i.flag-mu { background-position: -307px -37px; }
i.flag-mt { background-position: -307px -49px; }
i.flag-ms { background-position: -324px -1px; }
i.flag-mr { background-position: -324px -13px; }
i.flag-mq { background-position: -324px -25px; }
i.flag-mp { background-position: -324px -37px; }
i.flag-mo { background-position: -324px -49px; }
i.flag-mn { background-position: -341px -1px; }
i.flag-mm { background-position: -341px -13px; }
i.flag-ml { background-position: -341px -25px; }
i.flag-mk { background-position: -341px -37px; }
i.flag-mh { background-position: -341px -49px; }
i.flag-mg { background-position: -358px -1px; }
i.flag-md { background-position: -358px -13px; }
i.flag-mc { background-position: -358px -25px; }
i.flag-ma { background-position: -358px -37px; }
i.flag-ly { background-position: -358px -49px; }
i.flag-lv { background-position: -375px -1px; }
i.flag-lu { background-position: -375px -13px; }
i.flag-lt { background-position: -375px -25px; }
i.flag-ls { background-position: -375px -37px; }
i.flag-lr { background-position: -375px -49px; }
i.flag-lk { background-position: -392px -1px; }
i.flag-li { background-position: -392px -13px; }
i.flag-lc { background-position: -392px -25px; }
i.flag-lb { background-position: -392px -37px; }
i.flag-la { background-position: -392px -49px; }
i.flag-kz { background-position: -409px -1px; }
i.flag-ky { background-position: -409px -13px; }
i.flag-kw { background-position: -409px -25px; }
i.flag-kr { background-position: -409px -37px; }
i.flag-kp { background-position: -409px -49px; }
i.flag-kn { background-position: -426px -1px; }
i.flag-km { background-position: -426px -13px; }
i.flag-ki { background-position: -426px -25px; }
i.flag-kh { background-position: -426px -37px; }
i.flag-kg { background-position: -426px -49px; }
i.flag-ke { background-position: -443px -1px; }
i.flag-jp { background-position: -443px -13px; }
i.flag-jo { background-position: -443px -25px; }
i.flag-jm { background-position: -443px -37px; }
i.flag-it { background-position: -443px -49px; }
i.flag-is { background-position: -460px -1px; }
i.flag-ir { background-position: -460px -13px; }
i.flag-iq { background-position: -460px -25px; }
i.flag-io { background-position: -460px -37px; }
i.flag-in { background-position: -460px -49px; }
i.flag-il { background-position: -477px -1px; }
i.flag-ie { background-position: -477px -13px; }
i.flag-id { background-position: -477px -25px; }
i.flag-hu { background-position: -477px -37px; }
i.flag-ht { background-position: -477px -49px; }
i.flag-hr { background-position: -494px -1px; }
i.flag-hn { background-position: -494px -13px; }
i.flag-hk { background-position: -494px -25px; }
i.flag-gy { background-position: -494px -37px; }
i.flag-gw { background-position: -494px -49px; }
i.flag-gu { background-position: -511px -1px; }
i.flag-gt { background-position: -511px -13px; }
i.flag-gs { background-position: -511px -25px; }
i.flag-gr { background-position: -511px -37px; }
i.flag-gq { background-position: -511px -49px; }
i.flag-gp { background-position: -528px -1px; }
i.flag-gn { background-position: -528px -13px; }
i.flag-gm { background-position: -528px -25px; }
i.flag-gl { background-position: -528px -37px; }
i.flag-gi { background-position: -528px -49px; }
i.flag-gh { background-position: -545px -1px; }
i.flag-ge { background-position: -545px -13px; }
i.flag-gd { background-position: -545px -25px; }
i.flag-gb { background-position: -545px -37px; }
i.flag-ga { background-position: -545px -49px; }
i.flag-fr { background-position: -562px -1px; }
i.flag-fo { background-position: -562px -13px; }
i.flag-fm { background-position: -562px -25px; }
i.flag-fk { background-position: -562px -37px; }
i.flag-fj { background-position: -562px -49px; }
i.flag-fi { background-position: -579px -1px; }
i.flag-fam { background-position: -579px -13px; }
i.flag-europeanunion { background-position: -579px -25px; }
i.flag-et { background-position: -579px -37px; }
i.flag-es { background-position: -579px -49px; }
i.flag-er { background-position: -596px -1px; }
i.flag-england { background-position: -596px -13px; }
i.flag-eh { background-position: -596px -25px; }
i.flag-eg { background-position: -596px -37px; }
i.flag-ee { background-position: -596px -49px; }
i.flag-ec { background-position: -613px -1px; }
i.flag-dz { background-position: -613px -13px; }
i.flag-do { background-position: -613px -25px; }
i.flag-dm { background-position: -613px -37px; }
i.flag-dk { background-position: -613px -49px; }
i.flag-dj { background-position: -630px -1px; }
i.flag-de { background-position: -630px -13px; }
i.flag-cz { background-position: -630px -25px; }
i.flag-cy { background-position: -630px -37px; }
i.flag-cx { background-position: -630px -49px; }
i.flag-cv { background-position: -647px -1px; }
i.flag-cu { background-position: -647px -13px; }
i.flag-cs { background-position: -647px -25px; }
i.flag-cr { background-position: -647px -37px; }
i.flag-co { background-position: -647px -49px; }
i.flag-cn { background-position: -664px -1px; }
i.flag-cm { background-position: -664px -13px; }
i.flag-cl { background-position: -664px -25px; }
i.flag-ck { background-position: -664px -37px; }
i.flag-ci { background-position: -664px -49px; }
i.flag-cg { background-position: -681px -1px; }
i.flag-cf { background-position: -681px -13px; }
i.flag-cd { background-position: -681px -25px; }
i.flag-cc { background-position: -681px -37px; }
i.flag-catalonia { background-position: -681px -49px; }
i.flag-ca { background-position: -698px -1px; }
i.flag-bz { background-position: -698px -13px; }
i.flag-by { background-position: -698px -25px; }
i.flag-bw { background-position: -698px -37px; }
i.flag-bv { background-position: -698px -49px; }
i.flag-bt { background-position: -715px -1px; }
i.flag-bs { background-position: -715px -13px; }
i.flag-br { background-position: -715px -25px; }
i.flag-bo { background-position: -715px -37px; }
i.flag-bn { background-position: -715px -49px; }
i.flag-bm { background-position: -732px -1px; }
i.flag-bj { background-position: -732px -13px; }
i.flag-bi { background-position: -732px -25px; }
i.flag-bh { background-position: -732px -37px; }
i.flag-bg { background-position: -732px -49px; }
i.flag-bf { background-position: -749px -1px; }
i.flag-be { background-position: -749px -13px; }
i.flag-bd { background-position: -749px -25px; }
i.flag-bb { background-position: -749px -37px; }
i.flag-ba { background-position: -749px -49px; }
i.flag-az { background-position: -766px -1px; }
i.flag-ax { background-position: -783px -1px; }
i.flag-aw { background-position: -800px -1px; }
i.flag-au { background-position: -817px -1px; }
i.flag-at { background-position: -766px -13px; }
i.flag-as { background-position: -766px -25px; }
i.flag-ar { background-position: -766px -37px; }
i.flag-ao { background-position: -766px -49px; }
i.flag-an { background-position: -783px -13px; }
i.flag-am { background-position: -800px -13px; }
i.flag-al { background-position: -817px -13px; }
i.flag-ai { background-position: -783px -25px; }
i.flag-ag { background-position: -783px -37px; }
i.flag-af { background-position: -783px -49px; }
i.flag-ae { background-position: -800px -25px; }
i.flag-ad { background-position: -817px -25px; }
i.flag-ch { width: 11px; height: 11px; background-position: -800px -37px; }
i.flag-np { width: 9px; height: 11px; background-position: -800px -49px; }
