<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2011 Evolveum
  ~
  ~ The contents of this file are subject to the terms
  ~ of the Common Development and Distribution License
  ~ (the License). You may not use this file except in
  ~ compliance with the License.
  ~
  ~ You can obtain a copy of the License at
  ~ http://www.opensource.org/licenses/cddl1 or
  ~ CDDLv1.0.txt file in the source code distribution.
  ~ See the License for the specific language governing
  ~ permission and limitations under the License.
  ~
  ~ If applicable, add the following below the CDDL Header,
  ~ with the fields enclosed by brackets [] replaced by
  ~ your own identifying information:
  ~
  ~ Portions Copyrighted 2011 [name of copyright owner]
  -->

<configuration>
    <appender name="IDM_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <Append>true</Append>
        <File>${catalina.base}/logs/idm.log</File>
        <encoder>
            <pattern>%date [%thread][%X{subSystem}] %-5level \(%logger{46}\): %message%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/idm.log.%d{yyyy-MM-dd}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="com.evolveum.midpoint.common.LoggingConfigurationManager" level="INFO"/>
    <logger name="com.evolveum.midpoint.model.controller" level="TRACE"/>
    <logger name="com.evolveum.midpoint.web" level="TRACE"/>
    <logger name="org.apache.wicket" level="TRACE"/>
    <logger name="com.evolveum.midpoint.init" level="INFO"/>
    <logger name="com.evolveum.midpoint.web" level="TRACE"/>
    <logger name="com.evolveum.midpoint.provisioning.ucf.impl.ConnectorFactoryIcfImpl" level="INFO"/>
    <logger name="com.evolveum.midpoint.provisioning" level="TRACE"/>
    <logger name="com.evolveum.midpoint.common" level="INFO"/>
    <logger name="com.evolveum.midpoint" level="INFO"/>
    <logger name="com.evolveum.midpoint.repo" level="TRACE"/>
    <logger name="PROFILING" level="TRACE"/>
    <root level="WARN">
        <appender-ref ref="IDM_LOG"/>
    </root>
</configuration>


