<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010-2019 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<configuration>
    <appender name="X" class="ch.qos.logback.core.FileAppender">
        <file>./target/test.log</file>
        <encoder>
            <pattern>%date [%thread] %-5level \(%logger{46}\): %message%n</pattern>
        </encoder>
    </appender>
    <logger name="com.evolveum.midpoint.util.ClassPathUtil" level="OFF"/>
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="OFF"/>
    <logger name="java.sql.DatabaseMetaData" level="WARN"/>
    <logger name="com.evolveum.midpoint.prism.util.PrismTestUtil" level="TRACE"/>
    <logger name="com.evolveum.midpoint.repo.common.expression" level="TRACE"/>
    <logger name="com.evolveum.midpoint.model.common.expression" level="TRACE"/>
    <logger name="com.evolveum.midpoint.security" level="DEBUG"/>
    <logger name="PROFILING" level="OFF" />

    <logger name="com.evolveum.midpoint.smart" level="TRACE"/>
    <logger name="com.evolveum.midpoint.model.test.smart" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="X" />
    </root>
</configuration>

