<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010-2017 Evolveum
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>midPoint</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:ctx-common.xml
            classpath:ctx-configuration.xml
            classpath*:ctx-repository.xml,
            classpath:ctx-repo-cache.xml,
            classpath:ctx-task.xml,
            classpath:ctx-provisioning.xml,
            classpath:ctx-ucf-connid.xml,
            classpath:ctx-ucf-builtin.xml,
            classpath:ctx-audit.xml,
            classpath:ctx-security.xml,
            classpath:ctx-model.xml,
            classpath:ctx-model-common.xml,
            classpath:ctx-report.xml,
            classpath*:ctx-workflow.xml,
            classpath*:ctx-notifications.xml,
            classpath:ctx-certification.xml,
            classpath:ctx-interceptor.xml,
            classpath*:ctx-overlay.xml,
            /WEB-INF/ctx-init.xml,
            /WEB-INF/ctx-webapp.xml  
            /WEB-INF/ctx-web-security.xml
        </param-value>
    </context-param>

    <!--context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param-->

    <!--listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>	<!-- needed for retrieving original HTTP request in SecurityUtil (e.g. for auditing) -->
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>MidPointProfilingServletFilter</filter-name>
        <filter-class>com.evolveum.midpoint.web.util.MidPointProfilingServletFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>MidPointProfilingServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<!-- For CAS SLO integration uncomment following -->
<!-- 
	 <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
  </listener>
 -->
    <filter>
        <filter-name>wicket</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>configuration</param-name>
            <!-- <param-value>development</param-value>  -->
            <param-value>deployment</param-value>
        </init-param>
        <init-param>
            <param-name>applicationBean</param-name>
            <param-value>midpointApplication</param-value>
        </init-param>
        <init-param>
            <param-name>applicationFactoryClassName</param-name>
            <param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>WebResourceOptimizer</filter-name>
        <filter-class>ro.isdc.wro.http.WroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WebResourceOptimizer</filter-name>
        <url-pattern>/wro/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>wicket</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.transport.servlet.CXFServlet
        </servlet-class>
        <init-param>
			<param-name>service-list-path</param-name>
			<param-value>midpointservices</param-value>
		</init-param>
	<load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ReportPeerQueryInterceptor</servlet-name>
        <servlet-class>com.evolveum.midpoint.gui.impl.util.ReportPeerQueryInterceptor</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ReportPeerQueryInterceptor</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<!-- Deprecated -->
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/model/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>401</error-code>
        <location>/error/401</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/403</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404</location>
    </error-page>
    <error-page>
        <error-code>410</error-code>
        <location>/error/410</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>

</web-app>
