<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="unit" parallel="false">
  <test name="infraTest" parallel="false" preserve-order="false" verbose="10">
    <classes>
      <class name="com.evolveum.midpoint.logging.TraceManagerTest"/>
      <class name="com.evolveum.midpoint.util.QNameUtilTest"/>
      <class name="com.evolveum.midpoint.util.DOMUtilTest"/>
    </classes>
  </test>
</suite>
