#parse("header-inc.vm")

<h1>$definition.TypeName.LocalPart (Complex Type)</h1>
<p>
Namespace: $definition.TypeName.NamespaceURI
</p>
#if($definition.Abstract)
<p>
    ABSTRACT
</p>
#end
#if($definition.SuperType)
    #set( $typeUrl = $path.typeDefinitionUrl($definition.TypeName,$prefixToBase,$prismContext))
<p>
    Supertype: <a href="$!typeUrl">$definition.SuperType.LocalPart</a>
</p>
#end

<p>
$!definition.Documentation
</p>

#parse("items-inc.vm")

#parse("footer-inc.vm")