#parse("header-inc.vm")

<h1>$definition.TypeName.LocalPart (Object Definition)</h1>
<p>
    Namespace: $definition.TypeName.NamespaceURI
</p>
#if($definition.Abstract)
<p>
    ABSTRACT
</p>
#end

<p>
    $!definition.Documentation
</p>

#parse("items-inc.vm")

#parse("footer-inc.vm")