#*
 * Copyright (c) 2013 Evolveum and contributors
 *
 * Licensed under the EUPL-1.2 or later.
 *#

## This template defines the structure of object definition description.
## It contains a object definition documentation and a list of items in the object definition.
## Output file: <schemadir>/object/<type>.html
## Variables:
##   $definition: instance of PrismObjectDefinition
##   $prismContext: initilaized instance of PrismContext
##   $path: PathGenerator, simple utility class that creates paths and URLs
##   $prefixToBase: string that represents path prefix to base of the HTML files (e.g. "." or "../..")

#parse("header-inc.vm")

<div class="header">
    <h1>$definition.TypeName.LocalPart (Object Definition)</h1>
    <h3>Namespace: $definition.TypeName.NamespaceURI</h3>
</div>

<div class="contentContainer">
    #if($definition.Abstract)
    <div class="block">
        ABSTRACT
    </div>
    #end

    <div class="block">
        $!definition.Documentation
    </div>
</div>

#parse("items-inc.vm")

#parse("footer-inc.vm")
