#*
 * Copyright (c) 2013 Evolveum and contributors
 *
 * This work is dual-licensed under the Apache License 2.0 
 * and European Union Public License. See LICENSE file for details.
 *#

## This template defines the structure of top-level schema index.
## It contains a list of all schemas known to the system.
## Output file: index.html
## Variables:
##   $schemaRegistry: initialized instance of SchemaRegistry
##   $prismContext: initilaized instance of PrismContext
##   $path: PathGenerator, simple utility class that creates paths and URLs
##   $prefixToBase: string that represents path prefix to base of the HTML files (e.g. "." or "../..")

#parse("header-inc.vm")

<div class="header">
    <h1>Schema Index</h1>
</div>

<div class="contentContainer">
    <table class="overviewSummary" border="0" cellpadding="3" cellspacing="0">

        <caption>
            <span>Schema list</span>
            <span class="tabEnd">&nbsp;</span>
        </caption>

        <tr>
            <th class="colFirst" scope="col">Schema</th>
            <th class="colLast" scope="col"></th>
        </tr>

        <tbody>

            #set($counter = 1)
            #foreach($schema in $schemaRegistry.getSchemas())
                #set($modulo = $counter % 2)

                #if($modulo == 0)
                    <tr class="rowColor">
                        <td class="colFirst">
                            <a href="$path.schemaUrl($schema)">$schema.Namespace</a>
                        </td>
                        <td class="colLast">&nbsp;</td>
                    </tr>
                #else
                    <tr class="altColor">
                        <td class="colFirst">
                            <a href="$path.schemaUrl($schema)">$schema.Namespace</a>
                        </td>
                        <td class="colLast">&nbsp;</td>
                    </tr>
                #end
                #set($counter = $counter + 1)
            #end


        </tbody>

    </table>
</div>

#parse("footer-inc.vm")
