#*
 * Copyright (c) 2013 Evolveum
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

## This template defines the structure of schema description page.
## It contains a list of object definition and type definition in the schema.
## Output file: <schemadir>/index.html
## Variables:
##   $schema: initialized instance of PrismSchema
##   $prismContext: initilaized instance of PrismContext
##   $path: PathGenerator, simple utility class that creates paths and URLs
##   $prefixToBase: string that represents path prefix to base of the HTML files (e.g. "." or "../..")

#parse("header-inc.vm")

<h1>Schema $schema.Namespace</h1>

<h2>Object Type Definitions</h2>
<table border="1">
    <tr>
        <th>Type</th>
        <th>Description</th>
    </tr>
#foreach($definition in $schema.getObjectDefinitions())
    <tr>
        <td><a href="$path.objectDefinitionUrl($definition)">$definition.TypeName.LocalPart</a></td>
        <td>$!definition.getDocumentationPreview()</td>
    </tr>
#end
</table>

<h2>Complex Type Definitions</h2>
<table border="1">
    <tr>
        <th>Type</th>
        <th>Description</th>
    </tr>
    #foreach($definition in $schema.getComplexTypeDefinitions())
        <tr>
            <td><a href="$path.typeDefinitionUrl($definition)">$definition.TypeName.LocalPart</a></td>
            <td>$!definition.getDocumentationPreview()</td>
        </tr>
    #end
</table>

#parse("footer-inc.vm")