<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2011 Evolveum
  ~
  ~ The contents of this file are subject to the terms
  ~ of the Common Development and Distribution License
  ~ (the License). You may not use this file except in
  ~ compliance with the License.
  ~
  ~ You can obtain a copy of the License at
  ~ http://www.opensource.org/licenses/cddl1 or
  ~ CDDLv1.0.txt file in the source code distribution.
  ~ See the License for the specific language governing
  ~ permission and limitations under the License.
  ~
  ~ If applicable, add the following below the CDDL Header,
  ~ with the fields enclosed by brackets [] replaced by
  ~ your own identifying information:
  ~
  ~ Portions Copyrighted 2011 [name of copyright owner]
  -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="unit" parallel="false" verbose="1">
    <listeners>
        <listener class-name="com.evolveum.midpoint.tools.testng.TestMethodLoggerListener"/>
    </listeners>
    <test name="Prism" preserve-order="false" verbose="1">
        <classes>
        	<class name="com.evolveum.midpoint.prism.TestFundamentals"/>
        	<class name="com.evolveum.midpoint.prism.TestXmlConversion"/>
        	<class name="com.evolveum.midpoint.prism.TestPrismContext"/>
			<class name="com.evolveum.midpoint.prism.TestPrismParsing"/>
			<class name="com.evolveum.midpoint.prism.TestCompare"/>
			<class name="com.evolveum.midpoint.prism.TestPrismObjectConstruction"/>
			<class name="com.evolveum.midpoint.prism.TestPrismSchemaConstruction"/>
			<class name="com.evolveum.midpoint.prism.TestExtraSchema"/>
			<class name="com.evolveum.midpoint.prism.TestDom"/>
			<class name="com.evolveum.midpoint.prism.TestPolyString"/>
			<class name="com.evolveum.midpoint.prism.TestDiff"/>
			<class name="com.evolveum.midpoint.prism.TestDelta"/>
			<class name="com.evolveum.midpoint.prism.TestPath"/>
			<class name="com.evolveum.midpoint.prism.TestFind"/>
			<class name="com.evolveum.midpoint.prism.TestObjectQuery"/>
			<class name="com.evolveum.midpoint.prism.match.TestMatchingRule"/>
        </classes>
    </test>
</suite>
