<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012 Evolveum
  ~
  ~ The contents of this file are subject to the terms
  ~ of the Common Development and Distribution License
  ~ (the License). You may not use this file except in
  ~ compliance with the License.
  ~
  ~ You can obtain a copy of the License at
  ~ http://www.opensource.org/licenses/cddl1 or
  ~ CDDLv1.0.txt file in the source code distribution.
  ~ See the License for the specific language governing
  ~ permission and limitations under the License.
  ~
  ~ If applicable, add the following below the CDDL Header,
  ~ with the fields enclosed by brackets [] replaced by
  ~ your own identifying information:
  ~
  ~ Portions Copyrighted 2012 [name of copyright owner]
  -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="unit" parallel="false">
    <listeners>
        <listener class-name="com.evolveum.midpoint.tools.testng.TestMethodLoggerListener"/>
    </listeners>
    <test name="Model Integration" preserve-order="true" parallel="false" verbose="10">
        <classes>
        	<class name="com.evolveum.midpoint.model.intest.TestModelServiceContract"/>
        	<class name="com.evolveum.midpoint.model.intest.TestModelServiceContractDeprecated"/>
        	<class name="com.evolveum.midpoint.model.intest.TestPreviewChanges"/>
        	<class name="com.evolveum.midpoint.model.intest.TestRbac"/>
        	<class name="com.evolveum.midpoint.model.intest.TestLoggingConfiguration"/>
            <class name="com.evolveum.midpoint.model.intest.TestSegregationOfDuties"/>
            <class name="com.evolveum.midpoint.model.intest.TestMultiResource"/>
            <class name="com.evolveum.midpoint.model.intest.TestUserTemplate"/>
            <class name="com.evolveum.midpoint.model.intest.TestOrgStruct"/>
            <class name="com.evolveum.midpoint.model.intest.TestSchemalessResource"/>
            <class name="com.evolveum.midpoint.model.intest.TestPassword"/>
            <class name="com.evolveum.midpoint.model.intest.TestActivation"/>
            <class name="com.evolveum.midpoint.model.intest.TestImportRecon"/>
            <class name="com.evolveum.midpoint.model.intest.TestMultiConnector"/>
            <class name="com.evolveum.midpoint.model.intest.TestStrangeCases"/>
            <class name="com.evolveum.midpoint.model.intest.negative.TestBrokenCSV"/>
            <class name="com.evolveum.midpoint.model.intest.negative.TestAssignmentErrors"/>
            <class name="com.evolveum.midpoint.model.intest.TestDiag"/>
        </classes>
    </test>
    <test name="Synchronization" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.intest.sync.TestLiveSyncTask"/>
            <class name="com.evolveum.midpoint.model.intest.sync.TestReconTask"/>
        </classes>
    </test>
    <test name="Importer" preserve-order="true" parallel="false" verbose="10">
        <classes>
            <class name="com.evolveum.midpoint.model.intest.importer.ImportRefTest"/>
            <class name="com.evolveum.midpoint.model.intest.importer.ImportTest"/>
            <class name="com.evolveum.midpoint.model.intest.importer.BadImportTest"/>
        </classes>
    </test>
</suite>
