/************************************************
* Structure of the style sheet
* - body
* - header
* - main-block
* - footer
* - misc

*/

/************************************************
 *  Body
*/

body {
    line-height: 1.6em;
    /*   background:url(../../images/background-gradient.png); */
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;
    border: 0;
    outline: 0;
    font-size: 10px;
    color:#464646;
    font-family: helvetica, verdana, arial, sans-serif;
  /*  background-image: url(../../images/background-gradient.png);*/
}

/************************************************
* Header
*/
#header {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0px 0px 0px 0px;
    border: 0;
    color: #000000;
  /*  width: 1000px; */
}
#language-preferences {
    float: right;
}

/* Classes for the various boxes in the top area */
#long-top-box { z-index: 50; position: absolute; top: 10px; left: 10px; width: 980px; height: 200px; background: url(/idm/resources/images/long-top-box.png) no-repeat transparent; }
#long-top-box.blank { background-image: none; }



/************************************************
* Main-Block
*/
.firstRow {
    width: 150px;
}
.secondRow {
    margin-left: 20px;
}
.thirdRow {
    margin-left: 20px;
    margin-right: 5px;
}
#ICEMessages {
    color: #000000;
}
#main-block {
    position: relative;
/*    width: 1000px; */
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    z-index: 50;
    background-color: #f0f0c0;
}

#main-column {
    padding: 2px 30px 20px 30px;
    background-color: #ffffff;
    margin: 0px -1px 0px -1px;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: #252525;
    font-size: 12px;
    min-height: 550px;
    line-height: 1.6em;
    z-index: 60;
}


#admin-content {
    background-color: #f0f0e0;
    color: #000000;
    float: left;
    margin-left: 15px;
    /*height: 500px;*/
    min-height: 400px;
    padding: 5px 13px;
    width: 80%
   /* height: 250pt; */
}

#loginForm {
    padding-top: 0px;
    padding-bottom: 0px;
}

#loginImage {
    padding-top: 50px;
    padding-bottom: 50px;
}

/************************************************
* Footer
*/
#footer {
    clear: both;
    position: relative;
    background: url(../../images/bottom-gradient.png) repeat-x 0 0 transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
 /*   width: 1000px; */
    z-index: 50;
}

#copyright {
    clear: both;
    bottom: 0px;
    padding-top: 12px;
    padding-bottom: 8px;
    font-family:verdana;
    font-size:9px;
    line-height:1.3em;
    position:relative;
    text-align:center;
    color:#252525;
}

/************************************************
* Misc
*/
.separator-column {
    position: relative;
    float: right;
    width: 10px;
    background-image: url(../images/separator.png);
    background-repeat: repeat-y;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}




/* Default border on images */
img {
    border: 0;
}



.text {
    font-size: 10pt;
    color: #000000;
    font-family: helvetica, verdana, arial, sans-serif;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

a {
    color: #f48120;
    /*color: #000000;*/
    text-decoration: none;
}

#preferences {
    float:right;
}

.messages-green {
    color: #336600;
    font-weight: bold;
}

.messages-red {
    color: #ff3300;
    font-weight: bold;
}

.required-field {
    color: #ff3300;
    font-weight: bold;
}

.expression-field {
    color: #004CFF;
    font-weight: bold;
}
