@import "top-menu.less";
@import "wizard.less";
@import "page-login.less";
@import "page-user-details.less";
@import "page-dashboard.less";

span.button-group {
  display: inline-block;
  margin-right: 30px;
}

/*
 * editor
 */
#editor {
  border: 1px solid #ccc;
  width: auto;
  height: 0px;
}

th h3 {
  margin-bottom: 0px;
}

div#mainContainer {
  margin: 0px 20px;
}

div.main-button-bar {
  padding-top: 10px;
  padding-bottom: 20px;
}

/*
 * select picker
 */
.select-picker-sm {

  &> button {
    border-radius: 3px 3px 3px 3px !important;;
    font-size: 12px !important;;
    height: 30px !important;;
    line-height: 1.5 !important;;
    padding: 5px 0px !important;
  }

  i.glyphicon {
    top: -1px;
  }
}