<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012 Evolveum
  ~
  ~ The contents of this file are subject to the terms
  ~ of the Common Development and Distribution License
  ~ (the License). You may not use this file except in
  ~ compliance with the License.
  ~
  ~ You can obtain a copy of the License at
  ~ http://www.opensource.org/licenses/cddl1 or
  ~ CDDLv1.0.txt file in the source code distribution.
  ~ See the License for the specific language governing
  ~ permission and limitations under the License.
  ~
  ~ If applicable, add the following below the CDDL Header,
  ~ with the fields enclosed by brackets [] replaced by
  ~ your own identifying information:
  ~
  ~ Portions Copyrighted 2012 [name of copyright owner]
  -->

<configuration>
    <appender name="X" class="ch.qos.logback.core.FileAppender">
        <file>./target/test.log</file>
        <encoder>
            <pattern>%date [%thread] %-5level \(%logger{46}\): %message%n</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="X"/>
    </root>
    <logger name="com.evolveum.midpoint.util.ClassPathUtil" level="OFF"/>
    <logger name="com.evolveum.midpoint.repo.sql.util.MidPointNamingStrategy" level="OFF"/>
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="OFF"/>
    <logger name="com.evolveum.midpoint" level="OFF"/>
    <!--<logger name="org.hibernate" level="TRACE"/>-->
    <!--<logger name="org.springframework" level="INFO" />-->

    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="com.evolveum.midpoint.repo" level="TRACE"/>
    <logger name="com.evolveum.midpoint.testing" level="TRACE"/>

    <logger name="com.evolveum.midpoint.prism.schema.SchemaRegistry" level="OFF"/>
    <logger name="com.evolveum.midpoint.prism.schema.SchemaHandler" level="OFF"/>
</configuration>

