<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010-2017 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<configuration>
    <appender name="X" class="ch.qos.logback.core.FileAppender">
        <file>./target/test.log</file>
        <encoder>
            <pattern>%date [%thread] %-5level \(%logger{46}\): %message%n</pattern>
        </encoder>
    </appender>
    <appender name="TracingAppender" class="com.evolveum.midpoint.util.logging.TracingAppender">
        <layout>
            <pattern>%date [%thread] %-5level \(%logger{46}\): %message%n</pattern>
        </layout>
    </appender>
    <turboFilter class="com.evolveum.midpoint.util.logging.LevelOverrideTurboFilter"/>

    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="OFF"/>
    <logger name="com.evolveum.midpoint.schema" level="DEBUG" />
    <logger name="com.evolveum.midpoint.common.LoggingConfigurationManager" level="TRACE" />
    <logger name="com.evolveum.midpoint.model.common.expression" level="DEBUG" />
    <logger name="com.evolveum.midpoint.model.common.mapping" level="TRACE" />
    <logger name="com.evolveum.midpoint.model.common.stringpolicy" level="TRACE" />
    <logger name="com.evolveum.midpoint.model" level="TRACE" />
    <!-- Projector "TRACE" is just too much info ... -->
    <logger name="com.evolveum.midpoint.model.lens.projector" level="TRACE" />
    <!-- ... and expression trace as well -->
    <logger name="com.evolveum.midpoint.model.common.expression.Expression" level="TRACE" />
    <logger name="com.evolveum.midpoint.common.monitor" level="TRACE" />
    <logger name="com.evolveum.midpoint.provisioning" level="TRACE" />
    <logger name="com.evolveum.midpoint.provisioning.impl.resources.ResourceManager" level="DEBUG" />
    <logger name="com.evolveum.midpoint.repo" level="INFO" />
    <logger name="com.evolveum.midpoint.model.sync.LiveSyncTaskHandler" level="TRACE" />
    <logger name="com.evolveum.midpoint.test" level="TRACE" />
    <logger name="org.hibernate.SQL" level="INFO" />
    <!--<logger name="com.evolveum.midpoint.repo.sqlbase.querydsl.SqlLogger" level="TRACE" />-->
    <!--<logger name="PROFILING" level="TRACE" />-->
    <root level="INFO">
        <appender-ref ref="X" />
        <appender-ref ref="TracingAppender" />
    </root>
</configuration>

